{% extends 'base.html' %}{% load static %} {% block content %}
<div class="heading-container text-center my-5">
  <h3 class="heading">Ad Campaigns</h3>
</div>

<div class="actions-container d-flex justify-content-between border-bottom border-dark pb-2 mb-3">
  <div class="add-sort-container d-flex">
    <div class="btn-container me-3">
      <a href="{% url 'createCampaign' %}" target="_blank" class="btn btn-secondary"><i class="fa fa-solid fa-plus"></i> Add a Campaign</a>
    </div>

    <div class="form-group d-flex align-items-center">
      <label class="w-50" for="adCampaign-filter">Sort By:</label>
      <select name="" id="adCampaign-filter" class="form-select table-filter" data-table="adCampaign-table">
        <option selected>Open this select menu</option>
        <option value="recent">Recently Added</option>
        <option value="name">Account Name (A-Z)</option>
        <option value="name-desc">Account Name (Z-A)</option>
        <option value="contact">Contact Name (A-Z)</option>
      </select>
    </div>
  </div>

  <div class="has-search">
    <input class="form-control table-search" type="text" name="" placeholder="Search Campaigns" data-table="adCampaign-table" />
  </div>
</div>

<div class="table-container">
  <table id="adCampaign-table" class="table">
    <thead>
      <tr>
        <th scope="col">Account #</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Created By</th>
        <th scope="col">Sales Contact</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for campaign in campaigns %}
      <tr data-name="{{ campaign.campaign_name|lower }}" data-contact="{{ campaign.sales_contact|lower }}" data-created="{{ campaign.id }}">
        <td><a href="{% url 'adCampaign' campaign.id %}">#{{campaign.id }}</a></td>
        <td class="text-capitalize">{{campaign.campaign_name }}</td>
        <td>{{campaign.start_date }}</td>
        <td>{{campaign.end_date }}</td>
        <td>{{campaign.advertiser_name }}</td>
        <td>{{campaign.sales_contact }}</td>
        <td>${{campaign.total_campaign }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="{% static 'js/tableSearch.js' %}"></script>
<script src="{% static 'js/tableFilter.js' %}"></script>
{% endblock%}
