{% extends 'base.html' %}{% load static %} {% block content %}
<div class="heading-container text-center my-5">
  <h3 class="heading">New Campaign</h3>
</div>

<div class="stepform">
  <div class="steps-container d-none d-md-flex justify-content-md-center mb-5">
    <div class="step active">
      <div class="text">
        <span class="number">1</span>
        <span class="title">Select an Advertiser</span>
      </div>
      <div class="arrow">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="step">
      <div class="text">
        <span class="number">2</span>
        <span class="title">Campaign Info</span>
      </div>
      <div class="arrow">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="step">
      <div class="text">
        <span class="number">3</span>
        <span class="title">Product Selection</span>
      </div>
      <div class="arrow">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="step">
      <div class="text">
        <span class="number">4</span>
        <span class="title">Review</span>
      </div>
    </div>
  </div>

  <!-- End Steps container -->

  <form action="" method="post">
    {% csrf_token %}
    <div class="tab">
      <div class="tab-description text-center mb-5">
        <p>Search & select an advertiser to begin<br />creating a campaign</p>
      </div>

      <div class="justify-content-center d-flex flex-column w-75 mx-auto">
        <div class="has-search w-75">
          <input id="advertiser-search" class="form-control" type="text" name="advertiser-search" placeholder="Search by name, address, phone, ID.... " />
          <div class="mb-5">
            <span>Don't see your advertiser?</span>
            <a class="color-secondary" href=""> Click here to create one! </a>
          </div>
        </div>
      </div>

      <!-- Advertiser Results -->
      <div class="results d-none">
        <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>

      <div class="btn-container d-flex justify-content-end mt-5">
        <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
      </div>
    </div>

    <!-- Campaign Info -->
    <div class="tab" data-step="info">
      <div class="tab-description text-center mb-5">
        <p>Next, Enter some of the core information<br />regarding the campaign</p>
      </div>

      <div class="form-group mb-3">
        <label for="campaign-name"><span class="asterisk">*</span> Campaign Name</label>
        <input id="campaign-name" type="text" class="form-control" placeholder="Enter Campaign Name" />
      </div>

      <div class="row mb-3">
        <div class="form-group col-lg-6">
          <label for="sales-contact"><span class="asterisk">*</span> Sales Contact</label>
          <select id="sales-contact" name="sales_contact" class="form-select">
            {% for contact in contacts %}
            <option value="{{ contact.id }}">{{ contact.first_name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-lg-3">
          <div class="form-group">
            <label for="start-date"><span class="asterisk">*</span> Start Date:</label>
            <input type="date" id="start-date" name="start_date" class="form-control" />
          </div>
        </div>

        <div class="form-group col-lg-3">
          <div class="form-group">
            <label for="end-date">End Date(optional):</label>

            <input type="date" id="end-date" name="end_date" class="form-control" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="brief">Brief Description(optional) <span class="color-secondary fw-bold">*This will be public for everyone to see</span></label>
        <textarea class="form-control shadow" rows="5" id="brief" name="brief"></textarea>
      </div>

      <div class="btn-container d-flex justify-content-between mt-5">
        <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

        <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
      </div>
    </div>

    <!-- Product Selection -->
    <div class="tab">
      <div class="tab-description text-center mb-5">
        <p>Select the type of products you want to<br />include with campaign</p>
      </div>

      <div class="actions-container d-flex justify-content-between mb-3">
        <div class="btn-container">
          <button class="btn btn-secondary-light bg-primary c-filter" onclick="filterAdFormats()"><i class="fa fa-solid fa-filter"></i> Filter</button>
        </div>

        <div class="has-search">
          <input class="form-control" type="text" name="" placeholder="Search.... " />
        </div>
      </div>

      <div class="campaign-product-boxes row border border-dark rounded p-4">
        <div class="col-md-12 col-lg-4">
          <div class="product p-1 border rounded d-flex justify-content-between flex-column">
            <div class="checked rounded-circle d-none"><i class="fa fa-solid fa-check"></i></div>
            <div class="d-flex align-items-center justify-content-center pt-5">
              <h3 class="m-0">Newspaper</h3>
            </div>

            <div class="add-to-fav">
              <button class="btn btn-link"><i class="fa fa-solid fa-star"></i> Add to favorites</button>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-4">
          <div class="product p-1 border rounded d-flex justify-content-between flex-column">
            <div class="checked rounded-circle d-none"><i class="fa fa-solid fa-check"></i></div>
            <div class="d-flex align-items-center justify-content-center pt-5">
              <h3 class="m-0">Digital</h3>
            </div>

            <div class="add-to-fav">
              <button class="btn btn-link"><i class="fa fa-solid fa-star"></i> Add to favorites</button>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="product p-1 border rounded d-flex justify-content-between flex-column">
            <div class="checked rounded-circle d-none"><i class="fa fa-solid fa-check"></i></div>
            <div class="d-flex align-items-center justify-content-center pt-5">
              <h3 class="m-0">Digital</h3>
            </div>

            <div class="add-to-fav">
              <button class="btn btn-link"><i class="fa fa-solid fa-star"></i> Add to favorites</button>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="card scrollbar mgb-3" id="scrollbar1">
        <div id="ad-format" class="publication row mgb-3">
          <textarea id="publication_products" style="display: none">{{ publicationProducts }}</textarea>
          <textarea id="pub_schedule_adtype" style="display: none">{{ pubScheduleAdtye }}</textarea>
          <textarea id="pub_schedule_rategroups" style="display: none">{{ pubScheduleRategroup }}</textarea>
          <textarea id="repeat_rategroups" style="display: none">{{ repeatRategroup }}</textarea>
          <textarea id="admin_adtype" style="display: none">{{ adminAdtype}}</textarea>
          <textarea id="pub_schedule_sections" style="display: none">{{ pubScheduleSections }}</textarea>
          <textarea id="admin_sections" style="display: none">{{ adminSections}}</textarea>
          <textarea id="repeat_sections" style="display: none">{{ repeatSections}}</textarea>
          <textarea id="adSizes" style="display: none">{{ adSizesList}}</textarea>
          <textarea id="ratinglist" style="display: none">{{rating}}</textarea>
          <textarea id="repeat_adtype" style="display: none">{{adTypes}}</textarea>
          <textarea id="pubScheduleAdjustments" style="display: none">{{scheduleadjustments}}</textarea>
          <textarea id="repeat_adjustments" style="display: none">{{repeatAdjustments}}</textarea>
          <textarea id="publication_products_adcriteria" style="display: none">{{pubProductsAdCriteria}}</textarea>
          <textarea id="adminAdjustmentList" style="display: none">{{adminAdjustmentList}}</textarea>
          <textarea id="publication_adcriterias" style="display: none">{{adminAdCriteria}}</textarea>
          <textarea id="repeat_adcriterias" style="display: none">{{adCriterias}}</textarea>
          <textarea id="publication_products_dates" style="display: none">{{pubScheduleDates}}</textarea>
          <div id="ad_newspaper" class="col-md-12 col-lg-4 mgb-1 pub_ele">
            <div class="flex-col pub-card">
              <div class="c-ad-name">
                <h3 id="adTypeName_newspaper" class="pub_name">Newspaper</h3>
              </div>
              <div class="flex-row content-left c-ml-10" onclick="selectStar('newspaper')">
                <img id="star_newspaper" src="{% static 'img/Star-white.svg' %}" style="height: 18px" />&nbsp;
                <h4 class="c-favorite" style="line-height: 20px">Add to Favorites</h4>
              </div>
              <div id="ad-format-hover-newspaper" class="c-adType-hover" onclick="selectAdFormat('newspaper')">
                Add to <br />
                Campaign!
              </div>
            </div>
            <div id="favoriteIcon_newspaper" class="text-center pub-mark">
              <img src="{% static 'img/Vector (2).svg' %}" style="height: 15px; margin-top: 8px" />
            </div>
          </div>

          <div id="ad_magazine" class="col-md-12 col-lg-4 mgb-1 pub_ele">
            <div class="flex-col pub-card">
              <div class="c-ad-name">
                <h3 id="adTypeName_magazine" class="pub_name">Magazine</h3>
              </div>
              <div class="flex-row content-left c-ml-10" onclick="selectStar('magazine')">
                <img id="star_magazine" src="{% static 'img/Star-white.svg' %}" style="height: 18px" />&nbsp;
                <h4 class="c-favorite" style="line-height: 20px">Add to Favorites</h4>
              </div>
              <div id="ad-format-hover-magazine" class="c-adType-hover" onclick="selectAdFormat('magazine')">
                Add to <br />
                Campaign!
              </div>
            </div>
            <div id="favoriteIcon_magazine" class="text-center pub-mark">
              <img src="{% static 'img/Vector (2).svg' %}" style="height: 15px; margin-top: 8px" />
            </div>
          </div>

          <div id="ad_digital" class="col-md-12 col-lg-4 mgb-1 pub_ele">
            <div class="flex-col pub-card">
              <div class="c-ad-name">
                <h3 id="adTypeName_digital" class="pub_name">Digital</h3>
              </div>
              <div class="flex-row content-left c-ml-10" onclick="selectStar('digital')">
                <img id="star_digital" src="{% static 'img/Star-white.svg' %}" style="height: 18px" />&nbsp;
                <h4 class="c-favorite" style="line-height: 20px">Add to Favorites</h4>
              </div>
              <div id="ad-format-hover-digital" class="c-adType-hover" onclick="selectAdFormat('digital')">
                Add to <br />
                Campaign!
              </div>
            </div>
            <div id="favoriteIcon_digital" class="text-center pub-mark">
              <img src="{% static 'img/Vector (2).svg' %}" style="height: 15px; margin-top: 8px" />
            </div>
          </div>

          <div id="ad_custom" class="col-md-12 col-lg-4 pub_ele">
            <div class="flex-col pub-card">
              <div class="c-ad-name">
                <h3 id="adTypeName_custom" class="pub_name">New Custom Product</h3>
              </div>
              <div class="flex-row content-left c-ml-10" onclick="selectStar('custom')">
                <img id="star_custom" src="{% static 'img/Star-white.svg' %}" style="height: 18px" />&nbsp;
                <h4 class="c-favorite" style="line-height: 20px">Add to Favorites</h4>
              </div>
              <div id="ad-format-hover-custom" class="c-adType-hover" onclick="selectAdFormat('custom')">
                Add to <br />
                Campaign!
              </div>
            </div>
            <div id="favoriteIcon_custom" class="text-center pub-mark">
              <img src="{% static 'img/Vector (2).svg' %}" style="height: 15px; margin-top: 8px" />
            </div>
          </div>
        </div>
      </div> -->

      <div class="btn-container d-flex justify-content-between mt-5">
        <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

        <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
      </div>
    </div>

    <!-- Review -->
    <div class="tab review-tab">
      <div class="tab-description text-center mb-5">
        <p>Review the campaign then<br />click create!</p>
      </div>

      <div class="row mb-5">
        <div class="col-lg-4">
          <span>*Campaign Name:</span>
          <p id="review-campaign-name" class="mb-0"></p>
        </div>

        <div class="col-lg-4">
          <span>*Start Date:</span>
          <p id="review-start-date" class="mb-0"></p>
        </div>

        <div class="col-lg-4">
          <span>End Date (optional):</span>
          <p id="review-end-date" class="mb-0"></p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-4">
          <span>*Sales Contact:</span>
          <p id="review-sales-contact" class="mb-0"></p>
        </div>

        <div class="col-lg-8">
          <span>Selected Advertisers:</span>
          <ul id="review-advertisers" class="list-group"></ul>
        </div>
      </div>

      <div class="mb-5">
        <span>Selected Products:</span>
        <p id="review-products" class="mb-0"></p>
      </div>

      <div class="mb-5">
        <span>Brief Description (optional):</span>
        <p id="review-brief" class="mb-0"></p>
      </div>

      <div class="btn-container d-flex justify-content-between">
        <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

        <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <input type="hidden" name="advertiser_id" id="selected-advertiser-id" />
  </form>

  <!-- Success tab -->
  <div class="tab">
    <div class="tab-description text-center mb-5">
      <p>
        Congratulation!<br />
        Your Campaign has been created.
      </p>
    </div>

    <div class="success-circle rounded-circle mx-auto mb-5">
      <i class="fa fa-solid fa-check"></i>
    </div>

    <div class="btn-container text-center">
      <a href="" class="btn btn-secondary">Go to created campaign to book ads</a>
      <a href="{% url 'createCampaign' %}" class="btn btn-light border border-dark">Start Another Campaign</a>
    </div>
  </div>
</div>

<script src="{% static 'js/stepform.js' %}"></script>

<script>
  const selectedProducts = [];

  document.querySelectorAll('.product').forEach(product => {
    product.addEventListener('click', function () {
      const title = this.querySelector('h3').textContent.trim();
      const isSelected = this.classList.toggle('selected');
      const checkIcon = this.querySelector('.checked');

      if (isSelected) {
        checkIcon.classList.remove('d-none');
        if (!selectedProducts.includes(title)) {
          selectedProducts.push(title);
        }
      } else {
        checkIcon.classList.add('d-none');
        const index = selectedProducts.indexOf(title);
        if (index !== -1) {
          selectedProducts.splice(index, 1);
        }
      }

      updateReviewProducts(); // <- update display
    });
  });

  document.querySelectorAll('.add-to-fav button').forEach(btn => {
    btn.addEventListener('click', e => {
      e.stopPropagation();
    });
  });
</script>

<script>
  let selectedAdvertisers = [];

  document.getElementById('advertiser-search').addEventListener('input', function (e) {
    const query = e.target.value;
    const resultsContainer = document.querySelector('.results');
    const resultsList = resultsContainer.querySelector('.list-group');

    if (query.length > 1) {
      fetch(`/adcampaigns/advertiser-search/?q=${encodeURIComponent(query)}`)
        .then(response => response.json())
        .then(data => {
          resultsList.innerHTML = '';
          resultsContainer.classList.remove('d-none');

          if (data.results.length > 0) {
            data.results.forEach(advertiser => {
              console.log(advertiser);
              const li = document.createElement('li');
              li.className = 'list-group-item d-flex justify-content-between align-items-center bg-secondary-alpha';

              const textDiv = document.createElement('div');
              textDiv.innerHTML = `
              <div class="d-flex align-items-center">
                <h5 class="heading me-3">${advertiser.name}</h5>
                <small>ID #: ${advertiser.id}</small>
              </div>
              <div class="d-flex align-items-center justify-content-between w-75">
                <div class="address">
                  <span>Address:</span>
                  <p>${advertiser.address || ''}</p>
                </div>
                <div class="phone">
                  <span>Phone:</span>
                  <p>${advertiser.phone || ''}</p>
                </div>
              </div>
            `;

              const button = document.createElement('button');
              button.className = 'btn btn-secondary';
              button.innerHTML = '<i class="fa fa-plus"></i> Select';
              button.dataset.id = advertiser.id;

              button.addEventListener('click', function (e) {
                e.preventDefault();
                const advertiserId = advertiser.id;

                const index = selectedAdvertisers.findIndex(a => a.id === advertiserId);

                if (index > -1) {
                  // Remove from list
                  selectedAdvertisers.splice(index, 1);
                  button.className = 'btn btn-secondary';
                  button.innerHTML = '<i class="fa fa-plus"></i> Select';
                } else {
                  // Add to list
                  selectedAdvertisers.push({
                    id: advertiser.id,
                    name: advertiser.name,
                    address: advertiser.address || ''
                  });
                  button.className = 'btn btn-primary';
                  button.innerHTML = '<i class="fa fa-check"></i> Selected';
                }

                populateReviewAdvertisers(); // update UI
              });

              li.appendChild(textDiv);
              li.appendChild(button);
              resultsList.appendChild(li);
            });
          } else {
            resultsList.innerHTML = '<li class="list-group-item text-muted">No results found</li>';
          }
        });
    } else {
      resultsContainer.classList.add('d-none');
    }
  });

  // --- populate review ---
  function populateReview() {
    const nameEl = document.getElementById('campaign-name');
    const salesEl = document.getElementById('sales-contact');
    const startEl = document.getElementById('start-date');
    const endEl = document.getElementById('end-date');
    const briefEl = document.getElementById('brief');

    document.getElementById('review-campaign-name').textContent = nameEl.value || '—';
    document.getElementById('review-sales-contact').textContent = salesEl.options[salesEl.selectedIndex]?.text || '—';
    document.getElementById('review-start-date').textContent = formatDate(startEl.value);
    document.getElementById('review-end-date').textContent = formatDate(endEl.value) || '—';
    document.getElementById('review-brief').textContent = briefEl.value.trim() || '—';

    console.log('Populating review tab...');

    // If you later wire selected advertisers/products, call helper functions here:
    populateReviewAdvertisers();
    updateReviewProducts();
  }

  function formatDate(iso) {
    if (!iso) return '';
    // iso expected yyyy-mm-dd
    const [y, m, d] = iso.split('-');
    if (!y || !m || !d) return iso;
    return `${m}/${d}/${y}`;
  }

  // stubs for now
  function populateReviewAdvertisers() {
    const list = document.getElementById('review-advertisers');
    list.innerHTML = '';

    if (selectedAdvertisers.length === 0) {
      list.innerHTML = '<li class="list-group-item text-muted">None selected</li>';
      return;
    }

    selectedAdvertisers.forEach(ad => {
      const li = document.createElement('li');
      li.className = 'list-group-item';
      li.innerHTML = `<strong>${ad.name}</strong><br /><small>${ad.address}</small>`;
      list.appendChild(li);
    });
  }

  function updateReviewProducts() {
    const reviewEl = document.getElementById('review-products');

    if (selectedProducts.length > 0) {
      reviewEl.textContent = selectedProducts.join(', ');
    } else {
      reviewEl.textContent = 'None selected';
    }
  }
</script>

{% endblock%}
