{% extends 'base.html' %}{% load static %} {% block content %}
<div class="heading-container text-center my-5">
  <h3 class="heading">Campaign Dashboard</h3>
</div>

<div class="container">
  <a href="{% url 'adCampaigns' %}">Back to Ad Campaigns</a>
</div>

<div class="multi-step-form-container">
  <div id="tab-heading" class="tab-heading mb-5 d-flex justify-content-between align-items-center">
    <button class="step-arrow" id="prevTabBtn">
      <i class="fa fa-solid fa-chevron-left"></i>
    </button>

    <h3 class="multisteps-form__title text-center mb-0">Campaign Overview</h3>

    <button class="step-arrow" id="nextTabBtn">
      <i class="fa fa-solid fa-chevron-right"></i>
    </button>
  </div>

  <ul class="nav nav-pills mb-5 d-flex justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom active" id="pills-campaign-overview-tab" data-bs-toggle="pill" data-bs-target="#pills-campaign-overview" type="button" role="tab" aria-controls="pills-campaign-overview" aria-selected="true">Campaign Overview</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-insertions-tab" data-bs-toggle="pill" data-bs-target="#pills-insertions" type="button" role="tab" aria-controls="pills-insertions" aria-selected="false">Insertions</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-history-tab" data-bs-toggle="pill" data-bs-target="#pills-history" type="button" role="tab" aria-controls="pills-history" aria-selected="false">History</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-notes-tab" data-bs-toggle="pill" data-bs-target="#pills-notes" type="button" role="tab" aria-controls="pills-notes" aria-selected="false">Notes</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <!-- Campaign Overview -->
    <div class="tab-pane fade show active pt-5" id="pills-campaign-overview" role="tabpanel" aria-labelledby="pills-campaign-overview-tab" data-heading="Campaign Overview">{% include 'adCampaigns/includes/campaignOverview.html'%}</div>

    <!-- Insertions -->
    <div class="tab-pane pt-5 fade" id="pills-insertions" role="tabpanel" aria-labelledby="pills-insertions-tab" data-heading="Insertions">Insertions content here...</div>

    <!-- History -->
    <div class="tab-pane pt-5 fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab" data-heading="History">History content here...</div>

    <!-- Notes -->
    <div class="tab-pane pt-5 fade" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab" data-heading="Notes">Notes content here...</div>
  </div>
</div>

<script src="{% static 'js/multistep.js' %}"></script>

{% endblock%}
