<div class="btn-search-container d-flex justify-content-between border-bottom border-dark pb-1">
  <div class="filter-container">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newAdTypeModal"><i class="fa fa-solid fa-plus"></i> New Ad Type</button>
    <div class="filters ps-3 d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
  </div>

  <div class="has-search">
    <input type="text" class="form-control" placeholder="Search Ad Types..." />
  </div>
</div>

<div class="table-container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Publications</th>
        <th scope="col">Status</th>
        <th scope="col">Create By</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for adType in adTypes_page_obj %}
      <tr>
        <td>{{adType.id}}</td>
        <td>{{adType.name}}</td>
        <td>{{adType.code}}</td>
        <td>Times Leader</td>
        <td>Active</td>
        <td>Kyle Jernigan</td>
        <td><i class="fa fa-solid fa-pen"></i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination">
  {% if adTypes_page_obj.has_previous %}
  <a href="?page={{ adTypes_page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ adTypes_page_obj.number }} of {{ adTypes_page_obj.paginator.num_pages }}</span>

  {% if adTypes_page_obj.has_next %}
  <a href="?page={{ adTypes_page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
