@charset "UTF-8";
.color-primary {
  color: #f26722;
}

.color-secondary {
  color: #21215f;
}

.bg-primary-alpha {
  background-color: rgba(242, 103, 34, 0.2) !important;
}

.bg-secondary-alpha {
  background-color: rgba(33, 33, 95, 0.1);
}

.color-primary {
  color: #f26722;
}

.content-center {
  display: flex;
  justify-content: center;
}

.content-end {
  display: flex;
  justify-content: flex-end;
}

.content-between {
  display: flex;
  justify-content: space-between;
}

.mgr-0 {
  margin: 0;
}

.mgr-1 {
  margin-right: 10px;
}

.mgx-3 {
  margin: 30px 0;
}

.mgb-1 {
  margin-bottom: 10px;
}

.mgb-3 {
  margin-bottom: 30px;
}

.campaigns-list-container {
  max-width: 1150px;
  margin: 0 auto;
}
.campaigns-list-container .add-filter-search .sort-ads-container {
  display: flex;
  padding: 5px 0;
}
.campaigns-list-container .add-filter-search .sort-ads-container label {
  width: 100px;
}
.campaigns-list-container .add-filter-search .sort-ads-container .campaign-select {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.campaigns-list-container .add-filter-search hr {
  opacity: 1;
}

.ads-booked-container {
  margin-top: 60px;
}
.ads-booked-container .heading-container {
  width: 40%;
}
.ads-booked-container .custom-accordion {
  background-color: rgba(33, 33, 95, 0.1);
}
.ads-booked-container .custom-accordion .heading {
  padding: 20px;
}

.container-custom {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px;
  border-radius: 10px;
}
.container-custom .heading-container {
  max-width: 50%;
  margin: 0 auto;
}
.container-custom .heading-container hr {
  border: 1px solid #f26722;
}

.admin-landing-container .admin-blocks .admin-block-link {
  text-decoration: none;
}
.admin-landing-container .admin-blocks .admin-block {
  position: relative;
  background-color: #fff;
  height: 150px;
  border: 1px solid #666666;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.admin-landing-container .admin-blocks .admin-block .title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  line-height: 26.4px;
}
.admin-landing-container .admin-blocks .admin-block span {
  font-size: 12px;
  font-weight: 700;
  color: #000;
  position: relative;
  z-index: 2;
}
.admin-landing-container .admin-blocks .admin-block.accounts::before {
  content: "";
  background-image: url("../img/icon-accounts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.admin-landing-container .admin-blocks .admin-block.ads::before {
  content: "";
  background-image: url("../img/icon-ads.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.admin-landing-container .admin-blocks .admin-block.classifieds::before {
  content: "";
  background-image: url("../img/icon-classifieds.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.admin-landing-container .admin-blocks .admin-block.financial::before {
  content: "";
  background-image: url("../img/icon-financial.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.admin-landing-container .admin-blocks .admin-block.general::before {
  content: "";
  background-image: url("../img/icon-general.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.admin-landing-container .admin-blocks .admin-block.pricing::before {
  content: "";
  background-image: url("../img/icon-pricing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
.admin-landing-container .company-info-container .img-placeholder {
  width: 200px;
  height: 200px;
  border: 1px solid #666666;
  background-color: #d9d9d9;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.new-ad-type-container {
  border-radius: 4px;
  border: 1px solid #000;
  padding: 20px;
}

.download-templates-container .btn-dl-template {
  margin: 0 auto;
}
.download-templates-container .dl-btn-container {
  background-color: rgba(33, 33, 95, 0.1);
  border: 1px solid #21215f;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px;
  max-width: 450px;
}

.tab-menu-container .tab .btn {
  width: 150px !important;
  margin-bottom: 2px;
}
.tab-menu-container .tab .btn:not(:last-of-type) {
  margin-right: 10px;
}
.tab-menu-container .tab .btn.active {
  background-color: #21215f !important;
  border: 1px solid #21215f !important;
}
.tab-menu-container .col {
  width: 175px;
}
.tab-menu-container .col input {
  width: 100%;
  background-color: none;
  border: none;
  text-align: center;
}
.tab-menu-container .tabcontent {
  display: none;
  margin-bottom: 16px;
}

.content-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px 20px 0 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
  min-height: 600px;
  margin: 10px auto;
  border: 1px solid rgba(102, 102, 102, 0.25);
  padding-top: 160px;
  padding-bottom: 30px;
}
.content-container.custom-border:after {
  position: absolute;
  content: "";
  background-image: url("../images/top-orange-border.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 136px;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.content-container .fiscal-details-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 15px 0;
  border: 1px solid #21215f;
  border-radius: 10px;
  text-align: center;
}

.profile-container {
  background-color: #fff;
}

#slideOut {
  background-color: #fff;
  position: fixed;
  width: 350px;
  height: 100%;
  top: 52px;
  right: -350px;
  z-index: 9999;
  padding: 20px 0 20px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* Animation  */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
#slideOut .slideOutTab {
  margin-top: -10px;
  position: absolute;
  left: -40px;
  height: 200px;
  width: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background: #f2ab34;
  border-radius: 15px 0px 0px 15px;
}
#slideOut .slideOutTab .tab-heading {
  text-align: center;
  position: relative;
  right: 70px;
  top: 90px;
  background: #f2ab34;
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}
#slideOut .tm_content {
  height: 100%;
  overflow: scroll;
  padding-bottom: 30px;
  padding-right: 20px;
  position: relative;
  z-index: 2;
}
#slideOut .tm_content .custom-accordion .heading {
  font-size: 20px;
}
#slideOut .side-nav {
  max-width: 500px !important;
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
  padding-top: 60px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all ease-out 0.4s;
  transform: translateX(100%);
}
#slideOut .side-nav:after {
  content: "";
  background: #c8c8ec;
  border-radius: 50% 50% 25% 25%/25% 25% 0% 0%;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
#slideOut .side-nav .btn-close {
  position: absolute;
  right: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #21215f;
  z-index: 222;
}
#slideOut .side-nav .btn-close:hover {
  text-decoration: none;
}
#slideOut .side-nav .menu-content {
  padding: 0 20px;
  position: relative;
  z-index: 3;
}
#slideOut .side-nav .menu-content .menu-heading {
  color: #21215f;
}
#slideOut .side-nav .menu-content .form-container .side-menu-heading {
  font-weight: 700;
}
#slideOut .side-nav .menu-content .form-container select {
  max-width: 100% !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#slideOut .side-nav .menu-content .active-search-container .edit-criteria {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
#slideOut .side-nav .menu-content .active-search-container .edit-criteria .search-heading {
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 768px) {
  #slideOut .side-nav .menu-content .active-search-container .edit-criteria .search-heading {
    margin-right: 15px;
  }
}
#slideOut .side-nav .menu-content .active-search-container .edit-criteria .search-heading span {
  font-weight: 400;
}
@media (min-width: 768px) {
  #slideOut .side-nav .menu-content .active-search-container .edit-criteria .btn-container .btn-cancel {
    margin-right: 10px;
  }
}
#slideOut .side-nav .menu-content .accordion-container:not(:last-of-type) {
  margin-bottom: 15px;
}
#slideOut .side-nav .menu-content .accordion-container .select-container select {
  max-width: 100% !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media (min-width: 768px) {
  #slideOut .side-nav .menu-content .accordion-container .select-container .left,
  #slideOut .side-nav .menu-content .accordion-container .select-container .right {
    flex: 1;
  }
}
@media (min-width: 768px) {
  #slideOut .side-nav .menu-content .accordion-container .select-container .left {
    padding-right: 20px;
  }
}
#slideOut .side-nav .menu-content .accordion-container .accordion {
  background-color: #eee;
  font-weight: 700;
  color: #21215f;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
#slideOut .side-nav .menu-content .accordion-container .accordion:hover, #slideOut .side-nav .menu-content .accordion-container .accordion:active {
  background-color: #ccc;
}
#slideOut .side-nav .menu-content .accordion-container .panel {
  padding: 30px 20px;
  display: none;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
}
#slideOut .side-nav .menu-content .accordion-container .panel .side-menu-heading {
  font-weight: 500;
}
#slideOut .side-nav .menu-content .btn-container-right {
  justify-content: end;
}
@media (min-width: 768px) {
  #slideOut .side-nav .menu-content .btn-container-right .btn-cancel {
    margin-right: 10px;
  }
}
#slideOut:after {
  position: absolute;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23F26722' fill-opacity='0.5' d='M0,32L80,37.3C160,43,320,53,480,69.3C640,85,800,107,960,101.3C1120,96,1280,64,1360,48L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 100%;
  height: 70%;
  left: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.showSlideOut {
  right: 0px !important;
}

.pp-tool-menu-container .menu-heading-container {
  border-bottom: 1px solid #000;
}
.pp-tool-menu-container .menu-heading-container .heading {
  margin-bottom: 0;
}

.custom-accordion {
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
}
.custom-accordion .main-checkbox {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
.custom-accordion .main-checkbox:checked ~ h2 {
  color: #000;
}
.custom-accordion .main-checkbox:checked ~ .content {
  max-height: 0;
  transition: max-height 0.6s ease-in-out;
  opacity: 0;
}
.custom-accordion .main-checkbox:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.custom-accordion .main-checkbox:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
.custom-accordion .custom-chev {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
.custom-accordion .custom-chev:before, .custom-accordion .custom-chev:after {
  content: "";
  position: absolute;
  background-color: #21215f;
  width: 3px;
  height: 9px;
  transition: all 0.3s;
}
.custom-accordion .custom-chev:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.custom-accordion .custom-chev:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.custom-accordion .heading {
  font-size: 2rem;
  color: #000;
  line-height: 34px;
  text-align: left;
  padding: 15px 15px 0 15px;
  text-transform: none;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
}
.custom-accordion .content {
  position: relative;
  overflow: hidden;
  will-change: max-height;
  contain: layout;
  opacity: 1;
  transform: translate(0, 0);
  margin-bottom: 0;
  -webkit-hyphens: auto;
          hyphens: auto;
  z-index: 2;
  transition: max-height 0.6s ease-in-out;
}
.custom-accordion .content .select-container .left,
.custom-accordion .content .select-container .right {
  width: 48%;
}
.custom-accordion .content.double {
  display: flex;
}

.modal-accordion-container .custom-accordion:not(:last-of-type) {
  margin-bottom: 15px;
}

.btn {
  min-width: 175px;
}

.btn-custom {
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #fff;
  font-size: 12px;
  line-height: 14.4px;
}
.btn-custom i {
  margin-right: 10px;
}

.btn-primary {
  background-color: #f26722 !important;
  border-color: #f26722 !important;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-primary:hover {
  text-decoration: none;
}

.btn-secondary {
  background-color: #21215f !important;
  border-color: #21215f !important;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-secondary:hover {
  text-decoration: none;
  color: #fff;
}

.btn-secondary-alt {
  background-color: #fff;
  border: 1px solid #21215f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #21215f;
}

.btn-secondary-light {
  background: rgba(33, 33, 95, 0.5) !important;
  color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-secondary-light:hover {
  color: #fff !important;
}

.btn-light {
  border: 1px solid #21215f;
  color: #21215f;
}

.btn-dl-template {
  display: block;
  background: rgba(33, 33, 95, 0.2) !important;
  border: 1px solid #21215f;
  color: #21215f !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-dl-template:not(:last-of-type) {
  margin-bottom: 15px;
}

.btn-gray {
  background: #666666 !important;
  color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.btn-danger {
  background-color: #b32d2e !important;
  border: 1px solid #b32d2e !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #fff !important;
}
.btn-danger svg {
  margin-right: 10px;
}

.btn-danger-custom {
  display: inline-flex;
  align-items: center;
}
.btn-danger-custom svg {
  margin-right: 10px;
}

.btn-cancel {
  background-color: #f55353;
  border-color: #f55353;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-cancel:hover {
  text-decoration: none;
}

.btn-cancel-alt {
  background-color: #666666;
  border-color: #666666;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-cancel-alt:hover {
  text-decoration: none;
}

.btn-ready {
  background-color: #03a803 !important;
  border-color: #03a803 !important;
  color: #fff;
  border-radius: 30px !important;
  padding: 4px;
  font-size: 14px;
  display: block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.btn-ready:hover {
  text-decoration: none;
}
.btn-ready:hover {
  color: #fff;
}

.btn-component {
  background-color: #fff;
  border-color: #21215f !important;
  color: #000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.panel-btn-container {
  display: flex;
  flex-direction: column;
}

.toggle-container {
  padding: 2px 15px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-container:first-of-type {
  border-radius: 4px 0 0 4px;
}
.toggle-container:last-of-type {
  border-radius: 0 4px 4px 0;
}
.toggle-container.current {
  background-color: #f26722;
  color: #fff;
  box-shadow: none;
}
.toggle-container.current a svg {
  color: #fff !important;
}
.toggle-container .toggle-button {
  color: #21215f !important;
}
.toggle-container .toggle-button a svg {
  color: #21215f !important;
}

.btn-round {
  background-color: #fff;
  border-radius: 50px !important;
  border: none;
  width: 45px;
  height: 45px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
  display: inline-block;
}
.btn-round .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 6px;
  left: -131px;
}
.btn-round.primary:hover {
  background-color: #f26722;
}
.btn-round.primary:hover .fa {
  color: #fff;
}
.btn-round.secondary .fa {
  color: #21215f !important;
}
.btn-round.secondary:hover {
  background-color: #21215f;
}
.btn-round.secondary:hover .fa {
  color: #fff !important;
}
.btn-round:hover {
  cursor: pointer;
}
.btn-round:hover .tooltiptext {
  visibility: visible;
}
.btn-round:not(:last-of-type) {
  margin-bottom: 15px;
}
.btn-round span {
  position: absolute;
  top: 0;
  left: -10%;
}
.btn-round img {
  width: 70%;
}

.toggle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input:checked + label {
  background-color: #f26722;
  color: #fff;
  z-index: 1;
}
.toggle input + label {
  margin: 0;
  padding: 0px 10px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #000;
  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
  /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
  /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
  /* ----- */
}
.toggle input + label:first-of-type {
  border-radius: 30px 0 0 30px;
  border-right: none;
}
.toggle input + label:last-of-type {
  border-radius: 0 30px 30px 0;
  border-left: none;
}

.has-search {
  position: relative;
  width: 300px;
}
.has-search .form-control {
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: 1px solid #000;
}
.has-search .form-control-feedback {
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #000;
}

.top-admin-bar {
  background-color: #333055;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.top-admin-bar .hamburger-container .fa {
  color: #fff;
}
.top-admin-bar .logo-container {
  max-width: 200px;
}
.top-admin-bar .profile-container {
  display: flex;
}
.top-admin-bar .profile-container .profile-icon {
  text-decoration: none;
  color: #fff;
}
.top-admin-bar .profile-container .profile-icon:not(:last-of-type) {
  margin-right: 10px;
}
.top-admin-bar .profile-container .profile-icon .fa-user {
  color: #333055;
}

.stepform {
  position: relative;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #c3c4c7;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.stepform input.invalid {
  background-color: #ffdddd;
}
.stepform .steps-container .step,
.stepform .steps-container .mobile-step,
.stepform .mobile-steps-container .step,
.stepform .mobile-steps-container .mobile-step {
  min-width: 130px;
  opacity: 0.5;
}
.stepform .steps-container .step:not(:last-of-type),
.stepform .steps-container .mobile-step:not(:last-of-type),
.stepform .mobile-steps-container .step:not(:last-of-type),
.stepform .mobile-steps-container .mobile-step:not(:last-of-type) {
  margin-bottom: 20px;
}
.stepform .steps-container .step .text,
.stepform .steps-container .mobile-step .text,
.stepform .mobile-steps-container .step .text,
.stepform .mobile-steps-container .mobile-step .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
}
.stepform .steps-container .step .text .number,
.stepform .steps-container .mobile-step .text .number,
.stepform .mobile-steps-container .step .text .number,
.stepform .mobile-steps-container .mobile-step .text .number {
  font-size: 20px;
}
.stepform .steps-container .step.active,
.stepform .steps-container .mobile-step.active,
.stepform .mobile-steps-container .step.active,
.stepform .mobile-steps-container .mobile-step.active {
  opacity: 1;
}
.stepform .steps-container .step.finish,
.stepform .steps-container .mobile-step.finish,
.stepform .mobile-steps-container .step.finish,
.stepform .mobile-steps-container .mobile-step.finish {
  opacity: 1;
}
@media (min-width: 768px) {
  .stepform .steps-container .step,
  .stepform .steps-container .mobile-step,
  .stepform .mobile-steps-container .step,
  .stepform .mobile-steps-container .mobile-step {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stepform .steps-container .step:not(:last-of-type),
  .stepform .steps-container .mobile-step:not(:last-of-type),
  .stepform .mobile-steps-container .step:not(:last-of-type),
  .stepform .mobile-steps-container .mobile-step:not(:last-of-type) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.stepform .steps-container .step .arrow,
.stepform .steps-container .mobile-step .arrow,
.stepform .mobile-steps-container .step .arrow,
.stepform .mobile-steps-container .mobile-step .arrow {
  display: none;
}
@media (min-width: 768px) {
  .stepform .steps-container .step .arrow,
  .stepform .steps-container .mobile-step .arrow,
  .stepform .mobile-steps-container .step .arrow,
  .stepform .mobile-steps-container .mobile-step .arrow {
    display: block;
  }
}
@media (min-width: 1200px) {
  .stepform .steps-container,
  .stepform .mobile-steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.stepform .mobile-steps-container .mobile-step {
  display: none;
  visibility: hidden;
}
.stepform .mobile-steps-container .mobile-step.active {
  display: block;
  visibility: visible;
}
.stepform .tab {
  display: none;
  margin: 0 auto;
}
.stepform .tab .tab-description .border {
  display: block;
  width: 50%;
  border: 1px solid #000 !important;
}
.stepform .tab .tab-description .description {
  max-width: 300px;
  margin: 0 20px;
  font-weight: 700;
}
.stepform .tab .tab-description h1 {
  margin-bottom: 0;
  padding: 0 20px;
}
.stepform .tab .tab-description p {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #666666;
  margin-bottom: 0;
}
.stepform .tab .entry-title,
.stepform .tab .posted_in,
.stepform .tab .amount,
.stepform .tab .quantity {
  display: none;
  visibility: hidden;
}
.stepform .tab #publications-checkboxes {
  overflow-y: scroll;
  height: 450px;
}
@media (min-width: 768px) {
  .stepform .tab #publications-checkboxes {
    overflow-y: auto;
    -moz-columns: 3;
         columns: 3;
    height: auto;
  }
}
.stepform .tab .btn-container #prevBtn {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .stepform .tab .btn-container #prevBtn {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .stepform .tab {
    width: 75%;
  }
}
.stepform .tab .success-circle {
  width: 200px;
  height: 200px;
  background-color: #03a803;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: #fff;
}

.table-container {
  background-color: #f3f3f3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: auto;
  border-radius: 0 0 10px 10px;
  overflow-y: scroll;
}
.table-container ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
.table-container ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.table-container table {
  border-spacing: 0;
  border-collapse: collapse;
}
.table-container table th {
  background-color: rgba(33, 33, 95, 0.1);
  padding: 10px;
}
.table-container table th:first-of-type {
  border-top-left-radius: 10px;
}
.table-container table th:last-of-type {
  border-top-right-radius: 10px;
}
.table-container table tr td {
  padding: 10px;
}
.table-container .end-of-list-heading-container {
  padding: 50px 0;
}

.product-table-container {
  background-color: #f3f3f3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 450px;
  border-radius: 10px;
  border: 1px solid #000;
}
.product-table-container .product-table th {
  background-color: rgba(33, 33, 95, 0.1);
  font-size: 12px;
}
.product-table-container .product-table th:first-of-type {
  border-top-left-radius: 10px;
}
.product-table-container .product-table th:last-of-type {
  border-top-right-radius: 10px;
}

/* Modal */
.modal .modal-dialog {
  max-width: 900px;
}

.adjustment-card {
  position: relative;
  border-radius: 8px;
  border: 1px solid #000;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  min-height: 165px;
  padding: 10px 0 10px 10px;
}
.adjustment-card .left-side {
  width: 85%;
}
.adjustment-card .right-side {
  position: absolute;
  width: 15%;
  height: 100%;
  background-color: #c8c8ec;
  top: 0;
  right: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.adjustment-card .right-side span {
  color: #fff;
  text-align: center;
}
.adjustment-card .title-price-container {
  padding-right: 10px;
}
.adjustment-card .title-price-container .title,
.adjustment-card .title-price-container .price {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}
.adjustment-card .desc,
.adjustment-card .level,
.adjustment-card .section {
  font-size: 12px;
  line-height: 14.4px;
}

.gl-codes-container {
  max-width: 1240px;
  max-height: 600px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: 1px solid #666666;
}
.gl-codes-container .codes-heading {
  background-color: rgba(33, 33, 95, 0.1);
  padding: 10px;
}
.gl-codes-container .search-container {
  display: none;
}
.gl-codes-container .left-side {
  min-height: 600px;
}
.gl-codes-container .left-side .code-list {
  height: 90%;
  overflow-y: scroll;
}
.gl-codes-container .right-side {
  position: relative;
}
.gl-codes-container .right-side .new-code-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  display: none;
}
.gl-codes-container .right-side .new-code-panel .heading-container {
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.gl-codes-container .right-side .new-code-panel .heading-container hr {
  border: 1px solid #f26722;
}
.gl-codes-container .right-side:after {
  position: absolute;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23F26722' fill-opacity='0.5' d='M0,32L80,37.3C160,43,320,53,480,69.3C640,85,800,107,960,101.3C1120,96,1280,64,1360,48L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 100%;
  height: 120px;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

.switch2 {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
.switch2 span {
  position: absolute;
  top: 11px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}
.switch2 span.active {
  left: 0;
  padding-left: 2px;
  color: #fff;
}
.switch2 span.deactivate {
  right: 0;
  padding-right: 4px;
  color: #000;
}
.switch2 input.check-toggle-round-flat:checked ~ .off {
  color: #000;
}
.switch2 input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}
.switch2 .check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch2 .check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.switch2 input.check-toggle-round-flat + label {
  padding: 2px;
  width: 170px;
  height: 34px;
  background-color: #d4d7d4;
  border-radius: 60px;
}
.switch2 input.check-toggle-round-flat + label:before,
.switch2 input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.switch2 input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #d4d7d4;
  border-radius: 60px;
}
.switch2 input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 80px;
  background-color: #f26722;
  border-radius: 52px;
  transition: margin 0.2s;
}
.switch2 input.check-toggle-round-flat:checked + label:after {
  margin-left: 80px;
  background: #f26722;
}
@media (max-width: 1099px) {
  .switch2 .card {
    width: 45%;
    margin: 0 2.5% 30px;
  }
}
@media (max-width: 499px) {
  .switch2 .card {
    width: 95%;
  }
}

.custom-toggle {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}
.custom-toggle span {
  position: absolute;
  top: 11px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}
.custom-toggle span.active {
  left: 0;
  padding-left: 2px;
  color: #fff;
}
.custom-toggle span.inactive {
  right: 0;
  padding-right: 4px;
  color: #000;
}
.custom-toggle input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}
.custom-toggle .check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.custom-toggle .check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.custom-toggle input.check-toggle-round-flat + label {
  padding: 2px;
  width: 170px;
  height: 34px;
  background-color: #d4d7d4;
  border-radius: 60px;
}
.custom-toggle input.check-toggle-round-flat + label:before,
.custom-toggle input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.custom-toggle input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #d4d7d4;
  border-radius: 60px;
}
@media (max-width: 1099px) {
  .custom-toggle .card {
    width: 45%;
    margin: 0 2.5% 30px;
  }
}
@media (max-width: 499px) {
  .custom-toggle .card {
    width: 95%;
  }
}
.custom-toggle.primary input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 80px;
  background-color: #f26722;
  border-radius: 52px;
  transition: margin 0.2s;
}
.custom-toggle.primary input.check-toggle-round-flat:checked + label:after {
  margin-left: 80px;
  background: #f26722;
}
.custom-toggle.primary input.check-toggle-round-flat:checked ~ .off {
  color: #000;
}
.custom-toggle.secondary span.active {
  left: 0;
  padding-left: 2px;
  color: #fff;
}
.custom-toggle.secondary span.inactive {
  right: 0;
  padding-right: 4px;
  color: #fff;
}
.custom-toggle.secondary input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 80px;
  background-color: #21215f;
  border-radius: 52px;
  transition: margin 0.2s;
}
.custom-toggle.secondary input.check-toggle-round-flat:checked + label:after {
  margin-left: 80px;
  background: #21215f;
}

.item-select-container {
  display: flex;
  justify-content: center;
}
.item-select-container #lstBox1,
.item-select-container #lstBox2 {
  height: 300px;
  width: 225px;
}

.transferBtns {
  margin-right: 30px;
  margin-left: 30px;
}

.transferBtns {
  float: left;
  align-self: center;
}

.gl-code-builder .available-codes {
  min-height: 60px;
}
.gl-code-builder .selected-codes {
  background-color: #fff;
  border: 1px solid #000;
  min-height: 60px;
  padding: 20px;
  border-radius: 7px;
}
.gl-code-builder .selected-codes .btn-custom {
  position: relative;
}
.gl-code-builder .selected-codes .btn-custom:after {
  content: "−";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #f26722;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.gl-code-builder .selected-codes .btn-custom:not(:last-of-type) {
  margin-right: 15px;
}
.gl-code-builder .btn-custom {
  position: relative;
}
.gl-code-builder .btn-custom#GL:after {
  content: "";
  display: none;
}
.gl-code-builder .btn-custom:after {
  content: "+";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #f26722;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.gl-code-builder .btn-custom:not(:last-of-type) {
  margin-right: 15px;
}
.gl-code-builder .selected-fields-container .text-container p {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
}
.gl-code-builder .active-fields label {
  text-transform: capitalize;
}
.gl-code-builder .active-fields input {
  border: 1px solid #000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.product-boxes {
  margin: 30px 0;
}
.product-boxes .product-box {
  width: 156px;
  height: 151px;
  background-color: rgba(33, 33, 95, 0.2);
  border: 1px solid #21215f;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #21215f;
  text-decoration: none;
}
.product-boxes .product-box .fa {
  font-size: 30px;
  margin-bottom: 20px;
}
.product-boxes .product-box span {
  font-size: 12px;
  font-weight: 700;
  line-height: 14.4px;
}

.campaign-product-boxes .product {
  position: relative;
  background-color: #f3f3f3;
  color: #666666;
  height: 140px;
}
.campaign-product-boxes .product .checked {
  background-color: #f26722;
  width: 33px;
  height: 33px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
}
.campaign-product-boxes .product .add-to-fav .btn {
  color: #000;
}
.campaign-product-boxes .product.selected {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  color: white;
  border-color: #ccc;
  position: relative;
}
.campaign-product-boxes .product.checked {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #28a745;
  color: white;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.multi-step-form-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: relative;
  margin: 30px auto;
  max-width: 1200px;
  width: 100%;
}
.multi-step-form-container:after {
  position: absolute;
  content: "";
  background-image: url("../img/step-form-border.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 247px;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.multi-step-form-container * {
  position: relative;
  z-index: 222;
}
.multi-step-form-container .tab-heading .step-arrow {
  background: transparent !important;
  border: none !important;
}
.multi-step-form-container .nav-pills .nav-item .nav-link-custom {
  position: relative;
  font-size: 13px;
  color: #000 !important;
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  margin: 0 2px;
  padding: 2px 20px;
  border: none;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multi-step-form-container .nav-pills .nav-item .nav-link-custom {
    text-indent: 0;
  }
}
.multi-step-form-container .nav-pills .nav-item .nav-link-custom:first-child:after {
  display: none;
}
.multi-step-form-container .nav-pills .nav-item .nav-link-custom.active {
  background-color: #f26722;
  color: #fff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.multi-step-form-container .nav-pills .nav-item .nav-link-custom.active:before {
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.save-container {
  display: flex;
  justify-content: end;
}
.save-container:not(:last-of-type) {
  margin-bottom: 20px;
}
.save-container:last-of-type {
  margin-top: 20px;
}

.btn-search-container .filter-container {
  display: flex;
  align-items: center;
}
.btn-search-container .filter-container .btn {
  margin-bottom: 5px;
}
.btn-search-container .filter-container .filters {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.btn-search-container .search-container {
  display: flex;
  justify-content: flex-end;
}
.btn-search-container .search-container .form-group {
  margin-bottom: 0;
}

.edit-info-container .filter-container,
.add-region-container .filter-container {
  display: flex;
  justify-content: space-between;
}
.edit-info-container .filter-container .filters,
.add-region-container .filter-container .filters {
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.edit-info-container .btn,
.add-region-container .btn {
  margin-bottom: 5px;
}

.ads-table-container {
  margin: 30px 0;
}

.custom-search-container {
  display: flex;
  justify-content: end;
}

.top-bar {
  position: fixed;
  background-color: #21215f;
  width: 100%;
  min-height: 60px;
  z-index: 99999;
}
.top-bar #sidebarToggle {
  position: fixed;
  top: 13px;
  left: 70px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 1100;
  transition: left 0.3s ease;
}
.top-bar .navbar-custom-menu .navbar-nav .dropdown .dropdown-toggle {
  color: #fff;
}

#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #666666;
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 1000;
}
#sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.2s;
}
#sidebar a:hover {
  background-color: #575757;
}
#sidebar a i {
  margin-right: 10px;
  min-width: 20px;
  text-align: center;
}
#sidebar .logo-container {
  background-color: #c8c8ec;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
}
#sidebar .logo-container .logo-sm,
#sidebar .logo-container .logo-lg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  max-height: 40px;
  opacity: 0;
  visibility: hidden;
}
#sidebar .logo-container .logo-sm {
  opacity: 1;
  visibility: visible;
}
#sidebar .navbar-nav .nav-item a {
  font-size: 14px;
}
#sidebar .navbar-nav .inner-nav .nav-item a {
  padding-left: 50px;
}

#layout {
  margin-left: 60px;
  transition: margin-left 0.3s ease;
}

.main-content {
  margin-left: 0;
  padding: 60px 20px 20px 20px;
  transition: none;
}

body.open-sidebar .main-content {
  margin-left: 0;
}

body.open-sidebar #layout {
  margin-left: 250px;
}

body.open-sidebar #sidebar .sidebar-logo img {
  opacity: 0;
}

body.open-sidebar #sidebar .logo-sm {
  opacity: 0;
  visibility: hidden;
}

body.open-sidebar #sidebar .logo-lg {
  opacity: 1;
  visibility: visible;
}

body.open-sidebar #sidebarToggle {
  left: 265px;
}

body:not(.open-sidebar) #sidebar {
  width: 60px; /* collapsed state */
}

body:not(.open-sidebar) .link-text {
  display: none;
}

body:not(.open-sidebar) .inner-nav {
  display: none;
}

.notes-list {
  max-height: 300px;
  overflow-y: auto;
  background-color: #f8f9fa;
}
.notes-list .note-item {
  padding: 10px;
  font-size: 14px;
}
.notes-list .note-item:last-child {
  border-bottom: none;
}

.contact-list {
  max-height: 300px;
  overflow-y: auto;
}
.contact-list .contact-item {
  padding: 8px 0;
}
.contact-list .contact-item .actions-container {
  display: none;
  transition: display 0.2s ease;
}
.contact-list .contact-item:last-child {
  border-bottom: none;
}
.contact-list .contact-item:hover .actions-container {
  display: block;
}

.classified-item {
  position: relative;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Lato";
  border-radius: 4px;
}
.classified-item .classified-heading-container {
  background-image: linear-gradient(#eeebe5 90%, #ffffff);
  color: #000;
  text-align: center;
}
.classified-item .classified-heading-container .heading {
  font-size: 24px;
}
.classified-item .classified-heading-container .pub-date {
  font-size: 16px;
}
.classified-item .classified-description {
  font-size: 16px;
  line-height: 1.1;
  padding: 20px;
}
.classified-item .btn-container .btn {
  width: 100%;
  max-width: 200px;
  padding: 5px 15px;
  font-size: 12px;
}

body {
  background: linear-gradient(to bottom, #f3f3f3 60%, rgba(33, 33, 95, 0.3) 40%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}

.asterisk {
  color: #c10;
}

.pagination .page-item.active .page-link {
  background-color: #21215f;
  border-color: #21215f;
}
.pagination .page-link {
  color: #21215f;
}

label .fa {
  color: #f26722;
}

.flatpickr-calendar {
  margin: 10px auto 0 auto;
}

.form-check-star i {
  color: #ffc107;
  margin-right: 8px;
  font-size: 18px;
  transition: transform 0.2s ease;
}

.form-check-star input:checked + label i {
  transform: scale(1.2);
}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.filter-container .filters a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.filter-container .filters a.active {
  font-weight: 700;
}

.results {
  max-height: 280px;
  overflow-y: auto;
  margin-top: 10px;
}
.results .list-group-item {
  min-height: 140px;
}

.review-tab p {
  font-weight: 700;
}

.container {
  max-width: 1200px;
}

.custom-container {
  background-color: #fff;
}

.heading-container .heading {
  font-size: 40px;
  font-weight: 400;
  color: #666666;
  line-height: 48px;
}
.heading-container p {
  color: #666666;
  font-size: 18px;
  line-height: 21.6px;
}

.text-container p {
  font-size: 18px;
  font-weight: 700;
  color: #666666;
  line-height: 21.6px;
}/*# sourceMappingURL=custom.css.map */