<div class="file-btns d-flex mb-4">
  
  <button type="button" class="btn btn-secondary me-1" data-bs-toggle="modal" data-bs-target="#downloadTemplatesModal"><i class="fa fa-solid fa-arrow-down"></i> Download Templates</button>
  <button type="button" class="btn btn-dl-template" data-bs-toggle="modal" data-bs-target="#uploadCSVModal"><i class="fa fa-solid fa-arrow-up"></i> Upload CSV Files</button>
  
</div>

<div class="text-center">
  <p>Select a section below to view/manage its<br />list of codes.</p>
</div>

<div class="tab-menu-container">
  <div class="tab row content-center">
    <div class="col-md-2">
      <button class="btn btn-secondary-light tablinks" onclick="openSection(event, 'Company')">Company</button>
      <input type="text" name="" id="" class="form-control" value="xx" disabled/>
    </div>
    <div class="col-md-2">
      <button class="btn btn-secondary-light tablinks" onclick="openSection(event, 'Location')">Location</button>
      <input type="text" name="" id="" class="form-control" value="xxx" disabled/>
    </div>
    <div class="col-md-2">
      <button class="btn btn-secondary-light tablinks" onclick="openSection(event, 'Department')">Department</button>
      <input type="text" name="" id="" class="form-control" value="xx" disabled/>
    </div>
    <div class="col-md-2">
      <button class="btn btn-secondary-light tablinks" onclick="openSection(event, 'Profit')">Profit</button>
      <input type="text" name="" id="" class="form-control" value="xx" disabled/>
    </div>
    <div class="col-md-2">
      <button class="btn btn-secondary-light tablinks" onclick="openSection(event, 'GLCode')">GL</button>
      <input type="text" name="" id="" class="form-control" value="xxxx-xxx" disabled/>
    </div>
  </div>

  <div class="btn-container">
    <button class="btn btn-link" onclick="document.getElementById('editCodeLayout').style.cssText = 'display: block; opacity: 1; visibility: visible;'">Edit Layout</button>
  </div>

  <div id="Company" class="tabcontent">
    <div class="btn-search-container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="filter-container">
            <button class="btn btn-secondary" onclick="document.getElementById('newCompanyCode').style.cssText = 'display: block; opacity: 1; visibility: visible;'"><i class="fa fa-solid fa-plus"></i> New Company Code</button>
            <div class="filters d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 search-container">
          <div class="form-group has-search">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <div class="table-container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          
          {% if company_codes %}
            {% for company_code in company_codes %}
              <tr>
                <td>{{ company_code.id }}</td>
                <td>{{ company_code.code }}</td>
                <td>{{ company_code.description }}</td>
                <td>
                  <div class="gl-status-toggle-container">
                    <div class="switch-field">
                      <input type="radio" id="{{ company_code.id }}-gl-status-radio-one" name="{{ company_code.id }}-gl-status-switch-one" value="active" {% if company_code.active == 1 %} checked {% endif %} onclick="updateCompanyCodeStatus('{{ company_code.id }}', 'True')"/>
                      <label for="{{ company_code.id }}-gl-status-radio-one">Active</label>
                      <input type="radio" id="{{ company_code.id }}-gl-status-radio-two" name="{{ company_code.id }}-gl-status-switch-one" value="inactive"  {% if company_code.active == 0 %} checked {% endif %} onclick="updateCompanyCodeStatus('{{ company_code.id }}', 'False')"/>
                      <label for="{{ company_code.id }}-gl-status-radio-two">Inactive</label>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="pe-5" onclick="editCompanyCodeModal('{{ company_code.id }}', '{{ company_code.code }}', '{{ company_code.description|escapejs }}')"><i class="fa fa-solid fa-pencil"></i></span>

                  <span><i class="fa fa-solid fa-envelope-open"></i></span>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="Location" class="tabcontent">
    <div class="btn-search-container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="filter-container">
            <button class="btn btn-secondary" onclick="document.getElementById('newLocationCode').style.cssText = 'display: block; opacity: 1; visibility: visible;'"><i class="fa fa-solid fa-plus"></i> New Location Code</button>
            <div class="filters d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 search-container">
          <div class="form-group has-search">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <div class="table-container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Location</th>
            <th scope="col">Description</th>
            <th scope="col">PC</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if location_codes %}
            {% for location_code in location_codes %}
            <td>{{ location_code.id }}</td>
            <td>{{ location_code.location }}</td>
            <td>{{ location_code.description }}</td>
            <td>{{ location_code.pc }}</td>
            <td>
              <div class="location-switch-container">
                <div class="switch-field">
                  <input type="radio" id="{{ location_code.id }}-location-radio-one" name="{{ location_code.id }}-location-status-switch-one" value="active" {% if location_code.active == 1 %} checked {% endif %} onclick="updateLocationCodeStatus('{{ location_code.id }}', 'True')"/>
                  <label for="{{ location_code.id }}-location-radio-one">Active</label>
                  <input type="radio" id="{{ location_code.id }}-location-status-radio-two" name="{{ location_code.id }}-location-status-switch-one" value="inactive"  {% if location_code.active == 0 %} checked {% endif %} onclick="updateLocationCodeStatus('{{ location_code.id }}', 'False')"/>
                  <label for="{{ location_code.id }}-location-status-radio-two">Inactive</label>
                </div>
              </div>
            </td>
            <td>
              <span class="pe-5" onclick="editLocationCodeModal('{{ location_code.id }}', '{{ location_code.location|escapejs }}', '{{ location_code.description|escapejs }}', '{{ location_code.pc}}')"><i class="fa fa-solid fa-pencil"></i></span>
              <span><i class="fa fa-solid fa-envelope-open"></i></span>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="Department" class="tabcontent">
    <div class="btn-search-container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="filter-container">
            <button class="btn btn-secondary" onclick="document.getElementById('newDepartmentCode').style.cssText = 'display: block; opacity: 1; visibility: visible;'"><i class="fa fa-solid fa-plus"></i> New Department Code</button>
            <div class="filters d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 search-container">
          <div class="form-group has-search">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <div class="table-container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% if departments %}
              {% for department in departments %}
              <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.name }}</td>
                <td>
                  <div class="gl-status-toggle-container">
                    <div class="switch-field">
                      <input type="radio" id="{{ department.id }}-department-status-radio-one" name="{{ department.id }}-department-status-switch-one" value="active" {% if department.active == 1 %} checked {% endif %} onclick="updateDepartmentCodeStatus('{{ department.id }}', 'True')"/>
                      <label for="{{ department.id }}-department-status-radio-one">Active</label>
                      <input type="radio" id="{{ department.id }}-department-status-radio-two" name="{{ department.id }}-department-status-switch-one" value="inactive"  {% if department.active == 0 %} checked {% endif %} onclick="updateDepartmentCodeStatus('{{ department.id }}', 'False')"/>
                      <label for="{{ department.id }}-department-status-radio-two">Inactive</label>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="pe-5" onclick="editDepartmentCodeModal('{{ department.id }}', '{{ department.name }}')"><i class="fa fa-solid fa-pencil"></i></span>
                  <span><i class="fa fa-solid fa-envelope-open"></i></span>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="Profit" class="tabcontent">
    <div class="btn-search-container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="filter-container">
            <button class="btn btn-secondary" onclick="document.getElementById('newProfitCode').style.cssText = 'display: block; opacity: 1; visibility: visible;'"><i class="fa fa-solid fa-plus"></i> New Profit Code</button>
            <div class="filters d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 search-container">
          <div class="form-group has-search">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <div class="table-container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Description</th>
            <th scope="col">Profit Code</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if profit_codes %}
              {% for profit_code in profit_codes %}
              <tr>
                <td>{{ profit_code.id }}</td>
                <td>{{ profit_code.description }}</td>
                <td>{{ profit_code.profit_code }}</td>
                <td>
                  <div class="gl-status-toggle-container">
                    <div class="switch-field">
                      <input type="radio" id="{{ profit_code.id }}-profit_code-status-radio-one" name="{{ profit_code.id }}-profit_code-status-switch-one" value="active" {% if profit_code.active == 1 %} checked {% endif %} onclick="updateProfitCodeStatus('{{ profit_code.id }}', 'True')"/>
                      <label for="{{ profit_code.id }}-profit_code-status-radio-one">Active</label>
                      <input type="radio" id="{{ profit_code.id }}-profit_code-status-radio-two" name="{{ profit_code.id }}-profit_code-status-switch-one" value="inactive"  {% if profit_code.active == 0 %} checked {% endif %} onclick="updateProfitCodeStatus('{{ profit_code.id }}', 'False')"/>
                      <label for="{{ profit_code.id }}-profit_code-status-radio-two">Inactive</label>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="pe-5" onclick="editProfitCodeModal('{{ profit_code.id }}', '{{ profit_code.description }}', '{{ profit_code.profit_code }}')"><i class="fa fa-solid fa-pencil"></i></span>
                  <span><i class="fa fa-solid fa-envelope-open"></i></span>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div id="GLCode" class="tabcontent">
    <div class="btn-search-container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="filter-container">
            <button class="btn btn-secondary" onclick="document.getElementById('newGLCode').style.cssText = 'display: block; opacity: 1; visibility: visible;'"><i class="fa fa-solid fa-plus"></i> New GL Code</button>
            <div class="filters d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 search-container">
          <div class="form-group has-search">
            <input type="text" class="form-control" placeholder="Search..." />
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div>
      </div>
      <hr />
    </div>

    <div class="table-container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Code</th>
            <th scope="col">Description</th>
            <th scope="col">P&L Type</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if gl_codes %}
            {% for gl_code in gl_codes %}
              <tr>
                <td>{{gl_code.id }}</td>
                <td>{{gl_code.code }}</td>
                <td>{{gl_code.description }}</td>
                <td>{{gl_code.pl_type }}</td>

                <td>
                  <div class="gl-status-toggle-container">
                    <div class="switch-field">
                      <input type="radio" id="{{ gl_code.id }}-gl_code-status-radio-one" name="{{ gl_code.id }}-gl_code-status-switch-one" value="active" {% if gl_code.active == 1 %} checked {% endif %} onclick="updateGLCodeStatus('{{ gl_code.id }}', 'True')"/>
                      <label for="{{ gl_code.id }}-gl_code-status-radio-one">Active</label>
                      <input type="radio" id="{{ gl_code.id }}-gl_code-status-radio-two" name="{{ gl_code.id }}-gl_code-status-switch-one" value="inactive"  {% if gl_code.active == 0 %} checked {% endif %} onclick="updateGLCodeStatus('{{ gl_code.id }}', 'False')"/>
                      <label for="{{ gl_code.id }}-gl_code-status-radio-two">Inactive</label>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="pe-5" onclick="editGlCodeModal('{{ gl_code.id }}', '{{ gl_code.code }}', '{{ gl_code.description }}', '{{ gl_code.pl_type }}')"><i class="fa fa-solid fa-pencil"></i></span>

                  <span><i class="fa fa-solid fa-envelope-open"></i></span>
                </td>
              </tr>
            {% endfor %}
          {% endif %}

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  // This is handling the logic after the page reloads when a status is changed
  document.addEventListener("DOMContentLoaded", function() {
    const activeTab = localStorage.getItem('activeTab');
    const statusChanged = localStorage.getItem('statusChanged');

    localStorage.removeItem('statusChanged');
    localStorage.removeItem('activeTab');

    if (activeTab && statusChanged) {
      openSection(null, activeTab);
    }
  });

  // Generic function to update the status of a code
  function updateStatus(url, id, status, status_name='') {
    body = {
      id: id,
      status: status
    }

    fetch(url, {
      method: "POST",
      credentials: "same-origin",
      body: JSON.stringify(body),
      headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Accept": "application/json",
        "Content-Type": "application/json"
      }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success) {
        localStorage.setItem('statusChanged', 'true');
        localStorage.setItem('activeTab', status_name);
        window.location.href = `/advertising/adadmin/financial`;
      } else {
        $.toastr.error(`Updating ${status_name} code Failed`);
      }
    }).catch((error) => {
      $.toastr.error(`Updating ${status_name} code Failed`);
    })
  }
  
  /*
    LocationCode Logic
  */
  function editLocationCodeModal(id, code, description, pc) {
    document.getElementById('editLocationCode').style.cssText = 'display: block; opacity: 1; visibility: visible;'
    document.getElementById('location-value-edit').value = code;
    document.getElementById('hidden-location-code-edit-form').value = id;
    document.getElementById('pc-value-edit').value = pc;
    document.getElementById('location-code-description-edit').value = description;
    
  }

  function updateLocationCodeStatus(id, status) {
    updateStatus(`/advertising/adadmin/financial/edit-location-codes-status/`, id, status, status_name='Location');
  }

  /*
    GLCode Logic
  */
  function editGlCodeModal(id, code, description, pl_type) {
    console.log(id, code, description, pl_type);
    document.getElementById('editGlCodeModal').style.cssText = 'display: block; opacity: 1; visibility: visible;'
    document.getElementById('glcode-code-edit').value = code;
    document.getElementById('glcode-description-edit').value = description;
    document.getElementById('glcode-pltype-edit').value = pl_type;
    document.getElementById('hidden-glcode-code-edit-form').value = id;
  }

  function updateGLCodeStatus(id, status) {
    updateStatus(`/advertising/adadmin/financial/edit-gl-codes-status/`, id, status, status_name='GLCode');
  }

  /*
    DepartmentCode Logic
  */
  function editDepartmentCodeModal(id, code, description, pc) {
    document.getElementById('editDepartmentCode').style.cssText = 'display: block; opacity: 1; visibility: visible;'
    document.getElementById('department-name-edit').value = code;
    document.getElementById('hidden-department-code-edit-form').value = id;
  }

  function updateDepartmentCodeStatus(id, status) {
    updateStatus(`/advertising/adadmin/financial/edit-department-codes-status/`, id, status, status_name='Department');
  }

  /*
    ProfitCode Logic
  */
  function editProfitCodeModal(id, description, profit_code) {
    document.getElementById('editProfitCode').style.cssText = 'display: block; opacity: 1; visibility: visible;';
    document.getElementById('profitcode-description-edit').value = description;
    document.getElementById('profitcode-profitcode-edit').value = profit_code;
    document.getElementById('hidden-profitcode-code-edit-form').value = id;
    
  }
  
  function updateProfitCodeStatus(id, status) {
    updateStatus(`/advertising/adadmin/financial/edit-profit-codes-status/`, id, status, status_name='Profit');
  }

  /*
    CompanyCode Logic
  */
  function editCompanyCodeModal(id, code, description) {
    console.log(id, code, description);
    document.getElementById('editCompanyCode').style.cssText = 'display: block; opacity: 1; visibility: visible;';
    document.getElementById('country-code-value-edit').value = code;
    document.getElementById('hidden-company-code-edit-form').value = id;
    document.getElementById('country-code-description-edit').value = description;
    
  }

  function updateCompanyCodeStatus(id, status) {
    updateStatus(`/advertising/adadmin/financial/edit-company-codes-status/`, id, status, status_name='Company');
  }
  
</script>