<div class="modal fade" id="newSectionModal" tabindex="-1" aria-labelledby="newSectionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-bottom border-dark mb-3 text-center w-75 mx-auto">
          <h3 class="mb-1">New Section</h3>
        </div>

        <div class="text-center mb-3">
          <p>Enter Your Section Name, Code Then<br />select publications you want the<br />Section assigned to</p>
        </div>

        <form id="ad-section-form" action="" method="POST">
          {% csrf_token %}

          <div class="w-75 mx-auto mb-4">
            <div class="form-group mb-3">
              <label for="section-name">Name:</label>
              <input type="text" name="section-name" id="section-name" class="form-control" />
            </div>

            <div class="form-group mb-3">
              <label for="section-code">Code:</label>
              <input type="text" name="section-code" id="section-code" class="form-control" />
            </div>

            <div class="form-group">
              <label for="ad-sub-section">Sub-Section (optional):</label>
              <select name="ad-sub-section" id="ad-sub-section" class="form-select"></select>
            </div>
          </div>

          <div class="item-select-container mb-4">
            <div class="available-pubs">
              Available Publications:<br />
              <select multiple="multiple" id="lstBox1" class="from-list form-select">
                {% for pub in publications %}
                <option value="{{ pub.id }}">{{ pub.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="transferBtns d-flex flex-column align-items-center mx-3">
              <button type="button" class="btn-all-right btn-sm btn-secondary mb-2" id="btnAllRight">&gt;&gt;</button>
              <button type="button" class="btn-right btn btn-sm btn-secondary mb-2" id="btnRight">&gt;</button>
              <button type="button" class="btn-left btn btn-sm btn-secondary mb-2" id="btnLeft">&lt;</button>

              <button type="button" class="btn-all-left btn btn-sm btn-secondary" id="btnAllLeft">&lt;&lt;</button>
            </div>

            <div class="selected-pubs">
              Selected Publications:<br />
              <select multiple="multiple" id="lstBox2" name="publications" class="to-list form-select"></select>
            </div>
          </div>

          <div class="btn-container text-center">
            <button id="submit-ad-type" type="submit" class="btn btn-secondary">Create Code</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
