{% extends 'base.html' %} {% block content %}
<div class="heading-container text-center my-5">
  <h3 class="heading">Good Morning</h3>
</div>

<div class="custom-container border border-dark rounded shadow p-3 mb-3">
  <div class="border-bottom border-dark mb-5 w-50 pb-1">
    <h3 class="mb-0">Recently Create Campaigns</h3>
  </div>

  <div class="actions-container d-flex justify-content-between mb-3">
    <div class="btn-container">
      <button class="btn btn-light"><i class="fa fa-solid fa-plus"></i> Start Campaign</button>
      <button class="btn btn-secondary">View All Campaigns</button>
    </div>

    <div class="has-search"><input type="text" name="" id="" class="form-control" placeholder="Search" /></div>
  </div>

  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Account #</th>
          <th scope="col">Name</th>
          <th scope="col">Advertiser</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Created By</th>
          <th scope="col">Sales Contact</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>00001</td>
          <td>Valentines Day Ads</td>
          <td>Walmart</td>
          <td>01/8/2024</td>
          <td>02/14/2024</td>
          <td>Travis Davis</td>
          <td>Jeff Goldblum</td>
          <td>$120.00</td>
        </tr>

        <tr>
          <td>18291</td>
          <td>4th of July</td>
          <td>BlackCat Fireworks</td>
          <td>6/15/2024</td>
          <td>7/4/2024</td>
          <td>Kyle Jernigan</td>
          <td>Gob Bluth</td>
          <td>$130.42</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="contact">
  <div class="row">
    <div class="col-md-12 col-lg-7">
      <div class="custom-container border border-dark rounded shadow p-3">
        <div class="border-bottom border-dark mb-5 w-50 pb-1">
          <h3 class="mb-0">Recently Classifieds</h3>
        </div>

        <div class="actions-container d-flex justify-content-between mb-3">
          <div class="btn-container">
            <button class="btn btn-light"><i class="fa fa-solid fa-plus"></i> Create Classified</button>
          </div>

          <div class="has-search"><input type="text" name="" id="" class="form-control" placeholder="Search" /></div>
        </div>

        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID #</th>
                <th scope="col">Title</th>
                <th scope="col">Start Date</th>
                <th scope="col">Created By</th>
                <th scope="col">Status</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00001</td>
                <td>Valentines Day Ads</td>
                <td>01/8/2024</td>
                <td>Travis Davis</td>
                <td>Active</td>
                <td>$120.00</td>
              </tr>

              <tr>
                <td>00002</td>
                <td>Aztec Tomb For Sale</td>
                <td>0/00/0000</td>
                <td>Gob Bluth</td>
                <td>Active</td>
                <td>$20.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-5">
      <div class="custom-container border border-dark rounded shadow p-3">
        <div class="border-bottom border-dark mb-5 w-75 pb-1 text-center mx-auto">
          <h3 class="mb-0">Quick Start</h3>
        </div>

        <div class="btn-container d-flex flex-column w-75 mx-auto">
          <a href="{% url 'createCampaign' %}" target="_blank" class="btn btn-light mb-3">New Ad Campaign</a>
          <a href="{% url 'createAd' %}" target="_blank" class="btn btn-light mb-3">New Ad</a>
          <a href="{% url 'createAdvertiser' %}" target="_blank" class="btn btn-light">New Advertiser</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
