{% extends 'base.html' %}{% load static %} {% block content %}
<div class="heading-container text-center my-5">
  <h3 class="heading">Advertisers</h3>
</div>

<div class="actions-container d-flex justify-content-between border-bottom border-dark pb-2 mb-3">
  <div class="add-sort-container d-flex">
    <div class="btn-container me-3">
      <a href="{% url 'createAdvertiser' %}" target="_blank" class="btn btn-secondary"><i class="fa fa-solid fa-plus"></i> New Advertiser</a>
    </div>

    <div class="form-group d-flex align-items-center mb-3">
      <label class="w-50" for="advertiser-filter">Sort By:</label>
      <select class="form-select table-filter" data-table="advertiser-table" id="advertiser-filter">
        <option value="recent">Recently Added</option>
        <option value="name">Business Name (A-Z)</option>
        <option value="name-desc">Business Name (Z-A)</option>
        <option value="contact">Contact Name (A-Z)</option>
      </select>
    </div>
  </div>

  <div class="has-search">
    <input class="form-control table-search" type="text" name="" placeholder="Search Advertisers" data-table="advertiser-table" />
  </div>
</div>

<div class="table-container">
  <table id="advertiser-table" class="table">
    <thead>
      <tr>
        <th scope="col">ID#</th>
        <th scope="col">Business Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Account Type</th>
        <th scope="col">Industry Code</th>
        <th scope="col">Submitter</th>
        <th scope="col">Billing Contact</th>
      </tr>
    </thead>
    <tbody>
      {% for advertiser in page_obj %}
      <tr data-name="{{ advertiser.name|lower }}" data-contact="{{ advertiser.contact_name|lower }}" data-created="{{ advertiser.id }}">
        <td><a href="{% url 'advertiser' advertiser.id %}">#{{advertiser.id }}</a></td>
        <td>{{advertiser.name }}</td>
        <td>{{advertiser.contact_name|default:"—" }}</td>
        <td>{{advertiser.account_type }}</td>
        <td>{{advertiser.industry_code }}</td>
        <td>{{advertiser.contact_name }}</td>
        <td>{{advertiser.sales_person }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation" class="mt-4">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1" aria-label="First">
        <span aria-hidden="true">&laquo;&laquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
    </li>
    <li class="page-item disabled">
      <span class="page-link" aria-hidden="true">&laquo;</span>
    </li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>
    </li>

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
        <span aria-hidden="true">&raquo;&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link" aria-hidden="true">&raquo;</span>
    </li>
    <li class="page-item disabled">
      <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
    </li>
    {% endif %}
  </ul>
</nav>

<script src="{% static 'js/tableSearch.js' %}"></script>
<script src="{% static 'js/tableFilter.js' %}"></script>

{% endblock%}
