{% extends 'base.html' %}{% load static %} {% block content %}
<div class="heading-container text-center my-5">
  <h3 class="heading">Create a New Advertiser</h3>
</div>

<div class="stepform">
  <div class="steps-container d-none d-md-flex justify-content-md-center mb-5">
    <div class="step active">
      <div class="text">
        <span class="number">1</span>
        <span class="title">Advertiser Contact</span>
      </div>
      <div class="arrow">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="step">
      <div class="text">
        <span class="number">2</span>
        <span class="title">Advertiser Info</span>
      </div>
      <div class="arrow">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="step">
      <div class="text">
        <span class="number">3</span>
        <span class="title">Review</span>
      </div>
    </div>
  </div>

  <!-- End Steps container -->

  <form id="advertiser-form" action="{% url 'createAdvertiser' %}" method="POST">
    {% csrf_token %}
    <div class="tab">
      <div class="tab-description text-center mb-5">
        <p>Start by creating the primary contact for the<br />advertiser</p>
      </div>

      <div class="form-group mb-3">
        <label for="advertiser_firstname"><span class="asterisk">*</span>First Name</label>
        <input type="text" name="advertiser_firstname" id="advertiser_firstname" class="form-control" />
      </div>

      <div class="form-group mb-3">
        <label for="advertiser_lastname"><span class="asterisk">*</span>Last Name</label>
        <input type="text" name="advertiser_lastname" id="advertiser_lastname" class="form-control" />
      </div>

      <div class="form-group mb-3">
        <label for="advertiser_email"><i class="fa fa-solid fa-envelope"></i> Email</label>
        <input type="email" name="advertiser_email" id="advertiser_email" class="form-control" />
      </div>

      <div class="form-group">
        <label for="advertiser_phone"><i class="fa fa-solid fa-phone"></i> Phone</label>
        <input type="text" name="advertiser_phone" id="advertiser_phone" class="form-control" />
      </div>

      <div class="btn-container d-flex justify-content-end mt-5">
        <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
      </div>
    </div>

    <!-- Advertiser Info -->
    <div class="tab">
      <div class="tab-description text-center mb-5">
        <p>Next, enter all the info for the new advertiser</p>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="form-group mb-3">
            <label for="business_name"><span class="asterisk">*</span>Business Name:</label>
            <input id="business_name" name="business_name" type="text" class="form-control" placeholder="Enter Business Name" />
          </div>

          <div class="form-group mb-3">
            <label for="advertiser_account_type"><span class="asterisk">*</span>Account Type:</label>
            <select id="advertiser_account_type" name="advertiser_account_type" class="form-select" aria-label="Default select example">
              <option>Open this select menu</option>
              {% for type in account_types %}
              <option value="{{ type.id }}">{{ type.name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group mb-3">
            <label for="advertiser_address"><span class="asterisk">*</span>Address:</label>
            <input type="text" name="advertiser_address" id="advertiser_address" class="form-control" />
          </div>

          <div class="form-group mb-3">
            <label for="advertiser_city"><span class="asterisk">*</span>City:</label>
            <input type="text" name="advertiser_city" id="advertiser_city" class="form-control" />
          </div>

          <div class="row mb-3">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="advertiser_state"><span class="asterisk">*</span>State:</label>
                <select id="advertiser_state" name="advertiser_state" class="form-select" aria-label="Default select example">
                  <option>Open this select menu</option>
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group mb-3">
                <label for="advertiser_zipcode"><span class="asterisk">*</span>Zipcode:</label>
                <input type="text" name="advertiser_zipcode" id="advertiser_zipcode" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="advertiser_agency">Agency (optional)</label>
            <input type="text" name="advertiser_agency" id="advertiser_agency" class="form-control" />
          </div>

          <div class="form-group mb-3">
            <label for="sales-person"><span class="asterisk">*</span>Sales Person:</label>
            <select id="sales-person" name="sales-person" class="form-select" aria-label="Default select example">
              <option>Open this select menu</option>
              {% for type in sales_persons %}
              <option value="{{ type.id }}">{{ type }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="row mb-3">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="advertiser_industry_code">Industry Code:</label>
                <select id="advertiser_industry_code" name="advertiser_industry_code" class="form-select" aria-label="Default select example">
                  <option>Open this select menu</option>
                  {% for type in industry_codes %}
                  <option value="{{ type.id }}">{{ type }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group mb-3">
                <label for="advertiser_legacy_id">Legacy ID (optional):</label>
                <input type="text" name="advertiser_legacy_id" id="advertiser_legacy_id" class="form-control" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="form-group mb-3">
            <label for="advertiser_website">Website:</label>
            <input type="text" name="advertiser_website" id="advertiser_website" class="form-control" />
          </div>

          <div class="form-group mb-3">
            <label for="advertiser_billing_email"><i class="fa fa-solid fa-envelope"></i> Billing Email:</label>
            <input type="text" id="advertiser_billing_email" name="advertiser_billing_email" id="advertiser_billing_email" class="form-control" />
          </div>

          <div class="form-group mb-3">
            <label for="advertiser_billing_contact"><i class="fa fa-solid fa-envelope"></i> Billing Contact:</label>
            <input type="text" name="advertiser_billing_contact" id="advertiser_billing_contact" class="form-control" />
          </div>

          <div class="billing-address-container">
            <label class="form-label d-block mb-2">Billing Address:</label>

            <div class="form-check form-check-inline mb-3">
              <input class="form-check-input" type="radio" name="billing_option" id="same-as-primary" value="same" checked />
              <label class="form-check-label" for="same-as-primary">Use same as primary address</label>
            </div>

            <div class="form-check form-check-inline mb-3">
              <input class="form-check-input" type="radio" name="billing_option" id="different-address" value="different" />
              <label class="form-check-label" for="different-address">Use different billing address</label>
            </div>

            <!-- Billing Address Fields -->
            <div id="billing-fields" class="mt-3" style="display: none">
              <div class="form-group mb-3">
                <label for="billing_street">Street</label>
                <input type="text" id="billing_street" class="form-control" />
              </div>
              <div class="form-group mb-3">
                <label for="billing_city">City</label>
                <input type="text" id="billing_city" class="form-control" />
              </div>
              <div class="form-group mb-3">
                <label for="billing_state">State</label>
                <input type="text" id="billing_state" class="form-control" />
              </div>
              <div class="form-group mb-3">
                <label for="billing_zip">ZIP Code</label>
                <input type="text" id="billing_zip" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="notes-container">
        <label for="notes">Notes (optional):</label>
        <div class="border rounded row">
          <div class="col-sm-6 border-end p-3">
            <form id="note-form">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="note-type">Note Type:</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

              <div class="form-group mb-3">
                <label for="note-text">Note</label>
                <textarea class="form-control" id="note-text"></textarea>
              </div>

              <div class="btn-container text-center">
                <button type="button" id="add-note-btn" class="btn btn-secondary">Add Note</button>
              </div>
            </form>
          </div>

          <div class="col-sm-6 p-3">
            <!-- Scrolling notes area -->
            <span>*Notes:</span>
            <div class="notes-list" id="note-preview-list" style="max-height: 300px; overflow-y: auto"></div>
          </div>
        </div>
      </div>

      <div class="btn-container d-flex justify-content-between mt-5">
        <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

        <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
      </div>
    </div>

    <!-- Review -->
    <div class="tab review-tab">
      <div class="tab-description text-center mb-5">
        <p>Finally, review and if everything looks correct,<br />click the create button</p>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6">
          <div class="border-bottom border-dark mb-3">
            <h3 class="m-0">Advertiser Info</h3>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <span>Account Type:</span>
              <p id="review-account-type" class="mb-0"></p>
            </div>

            <div class="col-lg-6">
              <span>Business Name:</span>
              <p id="review-business-name" class="mb-0"></p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <span>Address:</span>
              <p id="review-business-address" class="mb-0"></p>
              <p class="mb-0">
                <span id="review-business-city"></span>,
                <span id="review-business-state"></span>
                <span id="review-business-zipcode"></span>
              </p>
            </div>

            <div class="col-lg-6">
              <span>Agency:</span>
              <p id="review-business-agency" class="mb-0"></p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <span>Salesperson:</span>
              <p id="review-sales-person" class="mb-0"></p>
            </div>

            <div class="col-lg-6">
              <span>Industry_ Code:</span>
              <p id="review-industry-code" class="mb-0"></p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <span>Legacy ID:</span>
              <p id="review-legacy-id" class="mb-0"></p>
            </div>

            <div class="col-lg-6">
              <span>Website:</span>
              <p id="review-business-website" class="mb-0"></p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <span>Billing Email:</span>
              <p id="review-billing-email" class="mb-0"></p>
            </div>

            <div class="col-lg-6">
              <span>Billing Contact:</span>
              <p id="review-billing-contact" class="mb-0"></p>
            </div>
          </div>

          <div class="mb-3">
            <span>Billing Address:</span>
            <p id="review-billing-address" class="mb-0"></p>
            <p class="mb-0">
              <span id="review-billing-city"></span>,
              <span id="review-billing-state"></span>
              <span id="review-billing-zipcode"></span>
            </p>
          </div>

          <div class="border-bottom border-dark mb-3">
            <h3 class="m-0">Advertiser Primary Contact</h3>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <span>First Name:</span>
              <p id="review-first-name" class="mb-0"></p>
            </div>

            <div class="col-lg-6">
              <span>last Name:</span>
              <p id="review-last-name" class="mb-0"></p>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-lg-6">
              <span>Email:</span>
              <p id="review-email" class="mb-0"></p>
            </div>

            <div class="col-lg-6">
              <span>Phone:</span>
              <p id="review-phone" class="mb-0"></p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="review-notes-container">
            <div class="border rounded">
              <div class="p-3">
                <!-- Scrolling notes area -->
                <div class="notes-list" id="review-notes-list" style="max-height: 300px; overflow-y: auto"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-container d-flex justify-content-between">
        <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

        <button id="create-advertiser-btn" data-step="final" class="btn btn-secondary step-next" type="button">Create <i class="fa fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </form>
  <!-- Success tab -->
  <div class="tab success-tab">
    <div class="tab-description text-center mb-5">
      <p>
        Congratulation!<br />
        Your Campaign has been created.
      </p>
    </div>

    <div class="success-circle rounded-circle mx-auto mb-5">
      <i class="fa fa-solid fa-check"></i>
    </div>

    <div class="btn-container text-center">
      <a href="{% url 'advertisers' %}" class="btn btn-secondary">Return to Advertisers</a>
      <a href="" class="btn btn-secondary-light">View Advertiser</a>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const billingFields = document.getElementById('billing-fields');
    const billingOptions = document.querySelectorAll('input[name="billing_option"]');

    billingOptions.forEach(option => {
      option.addEventListener('change', function () {
        if (this.value === 'different') {
          billingFields.style.display = 'block';
        } else {
          billingFields.style.display = 'none';
        }
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const finalButton = document.querySelector('.step-next[data-step="final"]');
    if (finalButton) {
      finalButton.addEventListener('click', function () {
        const form = document.getElementById('advertiser-form');
        if (form) {
          form.submit();
        } else {
          console.error('Advertiser form not found!');
        }
      });
    }
  });

  const btn = document.getElementById('create-advertiser-btn');

  btn.addEventListener('click', function (e) {
    e.preventDefault(); // <-- just in case

    const form = document.getElementById('advertiser-form');
    const formData = new FormData(form);

    fetch(form.action, {
      method: 'POST',
      headers: {
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
      },
      body: formData
    })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          showTab(tabs.length - 1); // move to success tab
        } else {
          alert('Error creating advertiser');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
  });
</script>

<script src="{% static 'js/notes.js' %}"></script>
<script src="{% static 'js/stepform/stepform.js' %}"></script>

<script src="{% static 'js/stepform/advertisers.js' %}"></script>

<script src="{% static 'js/statesSelect.js' %}"></script>

{% endblock%}
