{% extends 'base.html' %} {% block content %}
<div class="heading-container text-center my-5">
  <h3 class="heading">Advertiser Dashboard</h3>
</div>

<a href="{% url 'advertisers' %}">Back to Advertisers</a>

<!-- Step Form -->
<div class="multi-step-form-container">
  <div class="content">
    <!--content inner-->
    <div class="content__inner">
      <div class="container">
        <!--multisteps-form-->
        <div class="multisteps-form">
          <div class="content">
            <!--progress bar-->
            <div class="justify-content-center progress-btns-container">
              <div class="multisteps-form__progress">
                <button class="multisteps-form__progress-btn js-active" type="button">Advertiser Overview</button>
                <button class="multisteps-form__progress-btn" type="button">Ad Campaign History</button>
                <button class="multisteps-form__progress-btn" type="button">Activity</button>
              </div>
            </div>

            <!--form panels-->
            <div class="row">
              <div class="col-12 m-auto">
                <div class="multisteps-form__form">
                  <!--single form panel-->
                  {% include 'advertisers/includes/advertiserOverview.html'%}

                  <!--single form panel-->
                  {% include 'advertisers/includes/adCampaignHistory.html'%}

                  <!--single form panel-->
                  {% include 'advertisers/includes/activity.html'%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contacts & Notes -->
{% include 'advertisers/includes/contact-notes.html' %} {% endblock%}
