<div class="container">
  <div class="btn-container mb-5">
    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editAdvertiser"><i class="fa fa-solid fa-pen"></i> Edit Info</button>
  </div>

  <div class="border-bottom border-dark w-50 mb-2">
    <h3 class="mb-0">General Info</h3>
  </div>

  <div class="row mb-5">
    <div class="col-lg-6">
      <div class="heading-container mb-5">
        <h3 class="color-secondary mb-0">{{ advertiser.id }} - {{ advertiser.name }}</h3>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6">
          <span>Status:</span>
          <p class="mb-0">{{ advertiser.status }}</p>
        </div>

        <div class="col-lg-6">
          <span>Account Type:</span>
          <p class="mb-0">{{ advertiser.account_type }}</p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6">
          <span>Address:</span>
          <p class="mb-0">{{ advertiser.address }}</p>
          <p class="mb-0">{{ advertiser.city }}, {{ advertiser.state }} {{ advertiser.zip_code }}</p>
        </div>

        <div class="col-lg-6">
          <span>Phone:</span>
          <p class="mb-0">{{ advertiser.phone }}</p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6">
          <span>Website:</span>
          <p class="mb-0"><a href="{{ advertiser.website}}" target="_blank">{{ advertiser.website|default:"-" }}</a></p>
        </div>

        <div class="col-lg-6">
          <span>Email:</span>
          <p class="mb-0"><a href="mailto:">{{ advertiser.email }}</a></p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6">
          <span>Market Code:</span>
          <p class="mb-0">{{ advertiser.industry_code }}</p>
        </div>

        <div class="col-lg-6">
          <span>Legacy ID:</span>
          <p class="mb-0">{{ advertiser.legacy_id }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="border-bottom border-dark mb-5">
    <h3 class="mb-0">Billing Info</h3>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <span>Billing Address:</span>
          <p class="mb-0">
            <strong>{{ advertiser.billing_address }}<br />{{ advertiser.billing_city }}, {{ advertiser.billing_state }} {{ advertiser.billing_zip_code }}</strong>
          </p>
        </div>

        <div class="col-lg-6">
          <span class="d-block">Email:</span>
          <a href="mailto:"><strong>{{ advertiser.billing_email }}</strong></a>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="price-container text-center mb-5">
        <h3 class="color-secondary mb-0">$230.50</h3>
        <span>Current Balance</span>
      </div>

      <div class="btn-container d-flex justify-content-center">
        <button class="btn btn-light border border-dark me-lg-3">Send Invoice Email</button>
        <button class="btn btn-light border border-dark">Email Link to Pay</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    getCompanyContacts();
  });
</script>
