<div class="row">
  <div class="col-lg-6">
    <div class="border shadow rounded p-2">
      <div class="border-bottom border-dark mb-3 pb-2">
        <h3 class="mb-0"><i class="fa fa-solid fa-user"></i> Contacts</h3>
      </div>

      <div class="p-2">
        <div class="border rounded">
          <div class="p-2 border-bottom">
            <div class="contact-count d-flex justify-content-between">
              <h3 class="mb-0">Company Contacts (3)</h3>
              <div class="actions-container">
                <!-- Button trigger modal -->
                <button type="button" class="border-0" data-bs-toggle="modal" data-bs-target="#addContactModal"><i class="fa fa-solid fa-plus"></i></button>
              </div>
            </div>
          </div>

          <!-- Contact List -->
          <div class="contact-list p-2" style="max-height: 300px; overflow-y: auto">
            <!-- Example Contact Item -->
            <div class="contact-item mb-2 border-bottom pb-2 d-flex justify-content-between align-items-center">
              <div class="contact-info">
                <div class="fw-bold">Jane Doe</div>
                <div class="text-muted small">jane.doe@example.com</div>
                <div class="text-muted small">555-123-4567</div>
              </div>

              <div class="actions-container">
                <!-- Button trigger modal -->
                <button type="button" class="border-0" data-bs-toggle="modal" data-bs-target="#editContactModal"><i class="fa fa-solid fa-pencil"></i></button>
                <button class="border-0 text-danger"><i class="fa fa-solid fa-trash"></i></button>
              </div>
            </div>

            <div class="contact-item mb-2 border-bottom pb-2">
              <div class="fw-bold">John Smith</div>
              <div class="text-muted small">john.smith@example.com</div>
              <div class="text-muted small">555-987-6543</div>
            </div>

            <div class="contact-item mb-2 border-bottom pb-2">
              <div class="fw-bold">John Smith</div>
              <div class="text-muted small">john.smith@example.com</div>
              <div class="text-muted small">555-987-6543</div>
            </div>

            <div class="contact-item mb-2 border-bottom pb-2">
              <div class="fw-bold">John Smith</div>
              <div class="text-muted small">john.smith@example.com</div>
              <div class="text-muted small">555-987-6543</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="border shadow rounded p-2">
      <div class="border-bottom border-dark mb-3 pb-2">
        <h3 class="mb-0"><i class="fa fa-solid fa-comment"></i> Notes</h3>
      </div>

      <div class="p-2">
        <form action="" class="mb-5">
          <div class="form-group mb-3">
            <label for="note">Note</label>
            <textarea class="form-control" id="note"></textarea>
          </div>

          <div class="btn-container text-center d-flex justify-content-around">
            <select class="form-select w-50" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <button type="submit" class="btn btn-secondary">Add Note</button>
          </div>
        </form>

        <div class="notes-list" style="max-height: 300px; overflow-y: auto">
          <!-- Example note -->
          <div class="note-item bg-secondary-alpha border rounded mb-3 p-2">
            <p class="small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus fugit expedita nisi porro minus nulla, obcaecati earum itaque inventore minima magni alias consequuntur cum maxime velit, voluptas tenetur adipisci blanditiis.</p>
            <p class="text-muted small text-end">
              July 14, 2025 - 9:21 AM <button class="border-0 text-danger bg-transparent"><i class="fa fa-solid fa-trash"></i></button>
            </p>
          </div>

          <!-- Repeat .note-item border for each note -->
          <div class="note-item bg-secondary-alpha border rounded mb-3 p-2">
            <p class="small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus fugit expedita nisi porro minus nulla, obcaecati earum itaque inventore minima magni alias consequuntur cum maxime velit, voluptas tenetur adipisci blanditiis.</p>
            <p class="text-muted small text-end">
              July 14, 2025 - 9:21 AM <button class="border-0 text-danger bg-transparent"><i class="fa fa-solid fa-trash"></i></button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Contact Modal -->
<div class="modal fade" id="addContactModal" tabindex="-1" aria-labelledby="addContactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center w-100">
          <h3 class="modal-title" id="addContactModalLabel">New Contact</h3>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="container">
            <div class="row mb-3">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="firstname">First Name:</label>
                  <input type="text" name="" id="firstname" class="form-control" />
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="lastname">Last Name:</label>
                  <input type="text" name="" id="lastname" class="form-control" />
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="phone">Phone:</label>
                  <input type="text" name="" id="phone" class="form-control" />
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" name="" id="email" class="form-control" />
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="role">Role:</label>
                  <select id="role" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="status">Status:</label>
                  <select id="status" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center my-5 w-75 mx-auto">
              <div class="form-check form-check-star">
                <input type="checkbox" class="form-check-input visually-hidden" id="primary-contact" />
                <label class="form-check-label" for="primary-contact"> <i class="far fa-star" id="star-icon"></i> Set as primary contact </label>
              </div>
              <div class="small color-secondary">
                *if primary contact is selected, it will<br />
                replace the existing primary contact<br />for this advertiser.
              </div>
            </div>
          </div>

          <div class="btn-container my-4 d-flex justify-content-center">
            <button type="button" class="btn btn-gray me-lg-3">Discard</button>
            <button type="button" class="btn btn-secondary">Create Contact</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Contact Modal -->
<div class="modal fade" id="editContactModal" tabindex="-1" aria-labelledby="editContactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center w-100">
          <h3 class="modal-title" id="editContactModalLabel">Edit Contact</h3>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="container">
            <div class="row mb-3">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="firstname">First Name:</label>
                  <input type="text" name="" id="firstname" class="form-control" />
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="lastname">Last Name:</label>
                  <input type="text" name="" id="lastname" class="form-control" />
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="phone">Phone:</label>
                  <input type="text" name="" id="phone" class="form-control" />
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" name="" id="email" class="form-control" />
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="role">Role:</label>
                  <select id="role" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>

              <div class="col-md-12 col-lg-6">
                <div class="form-group">
                  <label for="status">Status:</label>
                  <select id="status" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center my-5 w-75 mx-auto">
              <div class="form-check form-check-star">
                <input type="checkbox" class="form-check-input visually-hidden" id="edit-primary-contact" />
                <label class="form-check-label" for="edit-primary-contact"> <i class="far fa-star" id="star-icon"></i> Set as primary contact </label>
              </div>
              <div class="small color-secondary">
                *if primary contact is selected, it will<br />
                replace the existing primary contact<br />for this advertiser.
              </div>
            </div>
          </div>

          <div class="btn-container my-4 d-flex justify-content-center">
            <button type="button" class="btn btn-gray me-lg-3">Discard</button>
            <button type="button" class="btn btn-secondary">Create Contact</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const checkbox = document.getElementById('primary-contact');
  const starIcon = document.getElementById('star-icon');

  checkbox.addEventListener('change', function () {
    if (this.checked) {
      starIcon.classList.remove('far');
      starIcon.classList.add('fas');
    } else {
      starIcon.classList.remove('fas');
      starIcon.classList.add('far');
    }
  });
</script>
