.item-select-container {
  display: flex;
  justify-content: center;

  #lstBox1,
  #lstBox2 {
    height: 300px;
    width: 225px;
  }
}

.transferBtns {
  margin-right: 30px;
  margin-left: 30px;
}

.transferBtns {
  float: left;
  align-self: center;
}
