.top-bar {
  position: fixed;
  background-color: $secondary;
  width: 100%;
  min-height: 60px;
  z-index: 99999;
  #sidebarToggle {
    position: fixed;
    top: 13px;
    left: 70px;
    color: $white;
    font-size: 20px;
    cursor: pointer;
    z-index: 1100;
    transition: left 0.3s ease;
  }

  .navbar-custom-menu {
    .navbar-nav {
      .dropdown {
        .dropdown-toggle {
          color: $white;
        }
      }
    }
  }
}

#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $gray-3;
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 1000;

  a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.2s;

    &:hover {
      background-color: #575757;
    }

    i {
      margin-right: 10px;
      min-width: 20px;
      text-align: center;
    }
  }

  .logo-container {
    background-color: $secondary-light;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 60px;

    .logo-sm,
    .logo-lg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease, visibility 0.3s ease;
      max-height: 40px;
      opacity: 0;
      visibility: hidden;
    }

    .logo-sm {
      opacity: 1;
      visibility: visible;
    }
  }
  .navbar-nav {
    .nav-item {
      a {
        font-size: 14px;
      }
    }
    .inner-nav {
      .nav-item {
        a {
          padding-left: 50px;
        }
      }
    }
  }
}

#layout {
  margin-left: 60px; // collapsed width
  transition: margin-left 0.3s ease;
}

.main-content {
  margin-left: 0;
  padding: 60px 20px 20px 20px;
  transition: none;
}

body.open-sidebar .main-content {
  margin-left: 0;
}

body.open-sidebar #layout {
  margin-left: 250px; // expanded width
}

body.open-sidebar #sidebar .sidebar-logo img {
  opacity: 0; // hide when expanded
}

body.open-sidebar #sidebar .logo-sm {
  opacity: 0;
  visibility: hidden;
}

body.open-sidebar #sidebar .logo-lg {
  opacity: 1;
  visibility: visible;
}

body.open-sidebar #sidebarToggle {
  left: 265px; // 👈 shift with expanded menu
}

body:not(.open-sidebar) #sidebar {
  width: 60px; /* collapsed state */
}

body:not(.open-sidebar) .link-text {
  display: none;
}

body:not(.open-sidebar) .main-content {
  //padding-left: 80px; // 👈 shift with expanded menu
}

body:not(.open-sidebar) .inner-nav {
  display: none;
}
