.notes-list {
  max-height: 300px;
  overflow-y: auto;
  background-color: #f8f9fa;

  .note-item {
    padding: 10px;
    font-size: 14px;

    &:last-child {
      border-bottom: none;
    }
  }
}

.contact-list {
  max-height: 300px;
  overflow-y: auto;

  .contact-item {
    padding: 8px 0;

    .actions-container {
      display: none;
      transition: display 0.2s ease;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      .actions-container {
        display: block;
      }
    }
  }
}
