.step-form-container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  border-radius: 8px;
  box-shadow: $shadow;
  position: relative;
  //max-width: 900px;
  min-height: 800px;
  margin: 30px auto;
  //overflow-y: scroll;
  &:after {
    position: absolute;
    content: '';
    background-image: url('../images/step-form-border.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 247px;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  //content styles
  .content {
    position: relative;
    z-index: 999;

    .content__inner {
      .multisteps-form {
        .progress-btns-container {
          position: absolute;
          left: 0;
          right: 0;
          //top: 10%;
          margin: auto;
          width: 100%;
          z-index: 2;
          display: flex;
          justify-content: center;
          //multisteps progress styles
          .multisteps-form__progress {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

            .multisteps-form__progress-btn {
              @include transition-mix($duration: 0.15s);
              position: relative;
              font-size: 13px;
              color: $black;
              text-indent: -9999px;
              border: none;
              background-color: transparent;
              outline: none !important;
              margin: 0 2px;
              border: none;
              border-radius: 10px;

              cursor: pointer;

              @media (min-width: 500px) {
                text-indent: 0;
              }

              //last child - without line decoration
              &:first-child {
                &:after {
                  display: none;
                }
              }

              //active styles
              &.js-active {
                background-color: $primary;
                color: $white;
                box-shadow: $shadow;
                &:before {
                  transform: translateX(-50%) scale(1.2);

                  background-color: currentColor;
                }
              }
            }
          }
        }

        //multisteps form styles
        .multisteps-form__form {
          position: relative;
          width: 100%;

          //multisteps panels styles
          .multisteps-form__panel {
            margin: 0 auto;

            .heading-arrows-container {
              display: flex;
              justify-content: space-between;
              margin-bottom: 100px;
              margin-top: 25px;
              .multistep-form__arrow {
                background: none;
                border: none;
              }
            }

            hr {
              border: 1px solid $black;
              margin-top: 0px;
            }
            @include position-absolute($top: 0, $left: 0);

            width: 100%;
            height: 0;

            opacity: 0;
            visibility: hidden;

            //active panels
            &.js-active {
              height: auto;

              opacity: 1;
              visibility: visible;
            }

            //scaleOut animation
            &[data-animation='scaleOut'] {
              transform: scale(1.1);

              &.js-active {
                @include transition-mix;

                transform: scale(1);
              }
            }

            //slideHorz animation
            &[data-animation='slideHorz'] {
              left: 50px;

              &.js-active {
                @include transition-mix($duration: 0.25s, $timing: cubic-bezier(0.2, 1.13, 0.38, 1.43));

                left: 0;
              }
            }

            //slideVert animation
            &[data-animation='slideVert'] {
              top: 30px;

              &.js-active {
                @include transition-mix();

                top: 0;
              }
            }

            //fadeIn animation
            &[data-animation='fadeIn'] {
              &.js-active {
                @include transition-mix($duration: 0.3s);
              }
            }

            //scaleOut
            &[data-animation='scaleIn'] {
              transform: scale(0.9);

              &.js-active {
                @include transition-mix;

                transform: scale(1);
              }
            }

            .multisteps-form__content {
              padding-top: 25px;

              .campaign-name {
                .heading {
                  &.name {
                    font-size: 20px;
                  }
                }
              }

              .start-date,
              .end-date {
                .heading {
                  font-size: 18px;
                }
              }
              // .content-container {
              //   min-height: 220px;
              // }
            }
          }
        }
      }
    }
  }
}

.save-container {
  display: flex;
  justify-content: end;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-top: 20px;
  }
}

.btn-search-container {
  .filter-container {
    display: flex;
    align-items: center;

    .btn {
      margin-bottom: 5px;
    }

    .filters {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }

  .search-container {
    display: flex;
    justify-content: flex-end;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.edit-info-container,
.add-region-container {
  .filter-container {
    display: flex;
    justify-content: space-between;
    .filters {
      display: flex;
      align-items: center;
      padding-left: 15px;
    }
  }
  .btn {
    margin-bottom: 5px;
  }
}

.ads-table-container {
  margin: 30px 0;
}

.custom-search-container {
  display: flex;
  justify-content: end;
}
