.switch2 {
  position: relative;
  display: inline-block;
  margin: 0 5px;

  span {
    position: absolute;
    top: 11px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;

    &.active {
      left: 0;
      padding-left: 2px;
      color: $white;
    }

    &.deactivate {
      right: 0;
      padding-right: 4px;
      color: $black;
    }
  }

  input.check-toggle-round-flat:checked ~ .off {
    color: $black;
  }

  input.check-toggle-round-flat:checked ~ .on {
    color: $white;
  }

  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 170px;
    height: 34px;
    background-color: #d4d7d4;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before,
  input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: '';
  }

  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #d4d7d4;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 80px;
    background-color: $primary;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }

  // input.check-toggle-round-flat:checked + label {
  // }

  input.check-toggle-round-flat:checked + label:after {
    margin-left: 80px;
    background: $primary;
  }
  @media (max-width: 1099px) {
    .card {
      width: 45%;
      margin: 0 2.5% 30px;
    }
  }
  @media (max-width: 499px) {
    .card {
      width: 95%;
    }
  }
}

.custom-toggle {
  position: relative;
  display: inline-block;
  margin: 0 5px;

  span {
    position: absolute;
    top: 11px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;

    &.active {
      left: 0;
      padding-left: 2px;
      color: $white;
    }

    &.inactive {
      right: 0;
      padding-right: 4px;
      color: $black;
    }
  }

  input.check-toggle-round-flat:checked ~ .on {
    color: $white;
  }

  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 170px;
    height: 34px;
    background-color: #d4d7d4;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before,
  input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: '';
  }

  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #d4d7d4;
    border-radius: 60px;
  }

  // input.check-toggle-round-flat:checked + label {
  // }

  @media (max-width: 1099px) {
    .card {
      width: 45%;
      margin: 0 2.5% 30px;
    }
  }
  @media (max-width: 499px) {
    .card {
      width: 95%;
    }
  }

  &.primary {
    input.check-toggle-round-flat + label:after {
      top: 4px;
      left: 4px;
      bottom: 4px;
      width: 80px;
      background-color: $primary;
      -webkit-border-radius: 52px;
      -moz-border-radius: 52px;
      -ms-border-radius: 52px;
      -o-border-radius: 52px;
      border-radius: 52px;
      -webkit-transition: margin 0.2s;
      -moz-transition: margin 0.2s;
      -o-transition: margin 0.2s;
      transition: margin 0.2s;
    }

    input.check-toggle-round-flat:checked + label:after {
      margin-left: 80px;
      background: $primary;
    }

    input.check-toggle-round-flat:checked ~ .off {
      color: $black;
    }
  }

  &.secondary {
    span {
      &.active {
        left: 0;
        padding-left: 2px;
        color: $white;
      }

      &.inactive {
        right: 0;
        padding-right: 4px;
        color: $white;
      }
    }
    input.check-toggle-round-flat + label:after {
      top: 4px;
      left: 4px;
      bottom: 4px;
      width: 80px;
      background-color: $secondary;
      -webkit-border-radius: 52px;
      -moz-border-radius: 52px;
      -ms-border-radius: 52px;
      -o-border-radius: 52px;
      border-radius: 52px;
      -webkit-transition: margin 0.2s;
      -moz-transition: margin 0.2s;
      -o-transition: margin 0.2s;
      transition: margin 0.2s;
    }

    input.check-toggle-round-flat:checked + label:after {
      margin-left: 80px;
      background: $secondary;
    }
  }
}
