<div class="modal fade" id="newAddonModal" tabindex="-1" aria-labelledby="newAddonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-bottom border-dark mb-3 text-center w-75 mx-auto">
          <h3 class="mb-1">New Classifieds Addon</h3>
        </div>

        <form id="classified-addon-form" action="" method="POST">
          {% csrf_token %}

          <div class="form-group w-75 mx-auto mb-4">
            <label for="addon-name">Add On Name:</label>
            <input class="form-control" type="text" name="addon-name" id="addon-name" />
          </div>

          <div class="form-group mb-4 w-75 mx-auto">
            <label for="addon-description">Description (optional):</label>
            <textarea class="form-control" name="addon-description" id="addon-description" rows="5"></textarea>
          </div>

          <div class="row w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="addon-self-service" class="d-block mb-2">Available in Self-service?</label>

                <div class="pill-group">
                  <input type="radio" class="btn-check" name="addon-self-service" id="addon-self-service-yes" autocomplete="off" checked />
                  <label class="pill" for="addon-self-service-yes" value="yes">Yes</label>

                  <input type="radio" class="btn-check" name="addon-self-service" id="addon-self-service-no" autocomplete="off" />
                  <label class="pill" for="addon-self-service-no" value="no">No</label>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="addon-pricing">Pricing:</label>
                <input type="text" class="form-control" name="addon-pricing" id="addon-pricing" />
              </div>
            </div>
          </div>

          <div class="item-select-container mb-4">
            <div class="available-pubs">
              Available Publications:<br />
              <select multiple="multiple" id="lstBox1" class="from-list form-select">
                {% for pub in publications %}
                <option value="{{ pub.id }}">{{ pub.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="transferBtns d-flex flex-column align-items-center mx-3">
              <button type="button" class="btn-all-right mb-2" id="btnAllRight">&gt;&gt;</button>
              <button type="button" class="btn-right mb-2" id="btnRight">&gt;</button>
              <button type="button" class="btn-left mb-2" id="btnLeft">&lt;</button>

              <button type="button" class="btn-all-left" id="btnAllLeft">&lt;&lt;</button>
            </div>

            <div class="selected-pubs">
              Selected Publications:<br />
              <select multiple="multiple" id="lstBox2" name="publications" class="to-list form-select"></select>
            </div>
          </div>

          <div class="btn-container text-center">
            <button id="submit-account-type" type="submit" class="btn btn-secondary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
