<div class="modal fade" id="newCategoryModal" tabindex="-1" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-bottom border-dark mb-3 text-center w-75 mx-auto">
          <h3 class="mb-0">New Category</h3>
        </div>
        <form id="classified-category-form" action="{% url 'adminClassifieds' %}" method="POST">
          {% csrf_token %}

          <div class="row w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="category-name"><span class="asterisk">*</span>Category Name:</label>
                <input type="text" id="category-name" name="category-name" class="form-control" />
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="category-self-service" class="d-block mb-2"> <span class="asterisk">*</span>Available in Self-Service Portal? </label>

                <div class="pill-group">
                  <input type="radio" class="btn-check" name="selfService" id="category-self-service-yes" value="yes" autocomplete="off" checked />
                  <label class="pill" for="category-self-service-yes">Yes</label>

                  <input type="radio" class="btn-check" name="selfService" id="category-self-service-no" value="no" autocomplete="off" />
                  <label class="pill" for="category-self-service-no">No</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4 w-75 mx-auto">
            <div class="col-md-12 col-lg-6">
              <div class="form-group mb-3">
                <label for="category-subcategory" class="d-block mb-2"> <span class="asterisk">*</span>Is this a Sub-category? </label>

                <div class="pill-group">
                  <input type="radio" class="btn-check toggle-radio" name="isSubcategory" id="subcategory-yes" data-target="main-category-select" value="yes" checked />
                  <label class="pill" for="subcategory-yes">Yes</label>

                  <input type="radio" class="btn-check toggle-radio" name="isSubcategory" id="subcategory-no" data-target="main-category-select" value="no" />
                  <label class="pill" for="subcategory-no">No</label>
                </div>
              </div>

              <div class="form-group">
                <label for="main-category-select">Select main category:</label>
                <select name="main-category-select" id="main-category-select" class="form-select">
                  {% for category in classifications_select %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group mb-3">
                <label for="category-gl-override" class="d-block mb-2"> <span class="asterisk">*</span>GL Override?</label>

                <div class="pill-group">
                  <input type="radio" class="btn-check toggle-radio" name="isGl-override" id="gl-override-yes" data-target="category-override-gl" value="yes" checked />
                  <label class="pill" for="gl-override-yes">Yes</label>

                  <input type="radio" class="btn-check toggle-radio" name="isGl-override" id="gl-override-no" data-target="category-override-gl" value="no" />
                  <label class="pill" for="gl-override-no">No</label>
                </div>
              </div>

              <div class="form-group">
                <label for="category-assigned-gl"><span class="asterisk">*</span>Select GL Code</label>
                <select name="glCodes" id="category-override-gl" class="form-select" multiple>
                  {% for code in glCodes %}
                  <option value="{{ code.id }}">{{ code.code }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="item-select-container mb-4">
            <div class="available-pubs">
              Available Publications:<br />
              <select multiple="multiple" id="lstBox1" class="from-list form-select">
                {% for pub in publications %}
                <option value="{{ pub.id }}">{{ pub.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="transferBtns d-flex flex-column align-items-center mx-3">
              <button type="button" class="btn-all-right mb-2" id="btnAllRight">&gt;&gt;</button>
              <button type="button" class="btn-right mb-2" id="btnRight">&gt;</button>
              <button type="button" class="btn-left mb-2" id="btnLeft">&lt;</button>

              <button type="button" class="btn-all-left" id="btnAllLeft">&lt;&lt;</button>
            </div>

            <div class="selected-pubs">
              Selected Publications:<br />
              <select multiple="multiple" id="lstBox2" name="publications" class="to-list form-select"></select>
            </div>
          </div>

          <div class="btn-container text-center">
            <button id="submit-account-type" type="submit" class="btn btn-secondary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleGroup(radio) {
    const targetId = radio.dataset.target;
    const targetInput = document.getElementById(targetId);

    if (!targetInput) return;

    if (radio.value === 'yes' && radio.checked) {
      targetInput.disabled = false;
      targetInput.classList.remove('disabled');
    } else if (radio.value === 'no' && radio.checked) {
      targetInput.disabled = true;
      targetInput.classList.add('disabled');
    }
  }

  // Attach listeners
  document.querySelectorAll('.toggle-radio').forEach(radio => {
    radio.addEventListener('change', () => toggleGroup(radio));
    // run once on page load
    if (radio.checked) toggleGroup(radio);
  });
</script>
