<div class="modal fade" id="newCategoryModal" tabindex="-1" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-bottom border-dark mb-3 text-center w-75 mx-auto">
          <h3 class="mb-0">New Category</h3>
        </div>
        <form id="classified-category-form" action="{% url 'adminClassifieds' %}" method="POST">
          {% csrf_token %}

          <div class="row w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="category-name">ID:</label>
                <input type="text" id="category-id" name="category-id" class="form-control" />
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="category-name"><span class="asterisk">*</span>Category Name:</label>
                <input type="text" id="category-name" name="category-name" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row mb-4 w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="classified-start-date"><span class="asterisk">*</span>Start Date:</label>
                <input class="form-control" type="date" name="classified-start-date" id="classified-start-date" />
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="classified-end-date"><span class="asterisk">*</span>End Date:</label>
                <input class="form-control" type="date" name="classified-end-date" id="classified-end-date" />
              </div>
            </div>
          </div>

          <div class="row w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="category-status">Status:</label>
                <select name="category-status" id="category-status" class="form-select"></select>
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="category-self-service" class="d-block mb-2"> <span class="asterisk">*</span>Available in Self-Service Portal? </label>

                <div class="pill-group">
                  <input type="radio" class="btn-check" name="selfService" id="category-self-service-yes" autocomplete="off" checked />
                  <label class="pill" for="category-self-service-yes">Yes</label>

                  <input type="radio" class="btn-check" name="selfService" id="category-self-service-no" autocomplete="off" />
                  <label class="pill" for="category-self-service-no">No</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4 w-75 mx-auto">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="category-subcategory" class="d-block mb-2"> <span class="asterisk">*</span>Is this a Sub-category? </label>

                <div class="pill-group">
                  <input type="radio" class="btn-check" name="isSubcategory" id="subcategory-yes" autocomplete="off" checked />
                  <label class="pill" for="subcategory-yes">Yes</label>

                  <input type="radio" class="btn-check" name="isSubcategory" id="subcategory-no" autocomplete="off" />
                  <label class="pill" for="subcategory-no">No</label>
                </div>
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="category-gl-override" class="d-block mb-2"> <span class="asterisk">*</span>GL Override?</label>

                <div class="pill-group">
                  <input type="radio" class="btn-check" name="isGl-override" id="gl-override-yes" autocomplete="off" checked />
                  <label class="pill" for="gl-override-yes">Yes</label>

                  <input type="radio" class="btn-check" name="isGl-override" id="gl-override-no" autocomplete="off" />
                  <label class="pill" for="gl-override-no">No</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-4 w-75 mx-auto">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="main-category-select">Select main category:</label>
                <select name="main-category-select" id="main-category-select" class="form-select"></select>
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="classified-gl-code"><span class="asterisk">*</span>Select GL Code:</label>
                <select name="classified-gl-code" id="classified-gl-code" class="form-select"></select>
              </div>
            </div>
          </div>

          <div class="item-select-container mb-4">
            <div class="available-pubs">
              Available Publications:<br />
              <select multiple="multiple" id="lstBox1" class="form-select">
                <option value="times-leader-print-edition">Times Leader - Print Edition</option>
                <option value="times-leader-e-edition">Times Leader - E Edition</option>
              </select>
            </div>
            <div class="transferBtns">
              <input class="mb-2" type="button" id="btnRight" value="  >  " />
              <br /><input type="button" id="btnLeft" value="  <  " />
            </div>
            <div class="selected-pubs">
              Selected Publications:<br />
              <select multiple="multiple" id="lstBox2" class="form-select"></select>
            </div>
          </div>

          <div class="btn-container text-center">
            <button id="submit-account-type" type="submit" class="btn btn-secondary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
