<div class="modal fade" id="newMeasurementModal" tabindex="-1" aria-labelledby="newMeasurementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-bottom border-dark mb-3 text-center w-75 mx-auto">
          <h3 class="mb-1">New Measurement</h3>
        </div>
        <form id="classified-measurement-form" action="{% url 'adminClassifieds' %}" method="POST">
          {% csrf_token %}

          <div class="row mb-4 w-75 mx-auto">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="measurement-name">Measurement Name:</label>
                <input class="form-control" type="text" name="measurement-name" id="measurement-name" />
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="measurement-self-service" class="d-block mb-2"> <span class="asterisk">*</span>Available in Self-Service Portal? </label>

                <div class="pill-group">
                  <input type="radio" class="btn-check" name="measurement-selfService" id="measurement-self-service-yes" autocomplete="off" checked />
                  <label class="pill" for="measurement-self-service-yes">Yes</label>

                  <input type="radio" class="btn-check" name="measurement-selfService" id="measurement-self-service-no" autocomplete="off" />
                  <label class="pill" for="measurement-self-service-no">No</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="fold-orientation">Fold Orientation:</label>
                <select name="fold-orientation" id="fold-orientation" class="form-select">
                  <option>Select</option>
                  <option value="horizontal">Horizontal</option>
                  <option value="vertical">Vertical</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group rounded">
                <label for="measurement-size">Size:</label>
                <div class="d-flex justify-content-between mb-3">
                  <div class="">
                    <input type="number" id="measurement-width" name="measurement-width" class="form-control" placeholder="Enter inches" />
                  </div>

                  <div class="d-flex justify-content-center align-items-center mx-2">
                    <span><h5 class="mb-0">X</h5></span>
                  </div>

                  <div class="">
                    <input type="number" id="measurement-height" name="measurement-height" class="form-control" placeholder="Enter height" />
                  </div>
                </div>
                <!-- 
                <button type="button" class="btn btn-primary w-100" onclick="calculateProduct()">Calculate</button>

                <div class="mt-3"><strong>Result:</strong> <span id="result">—</span></div> -->
              </div>
            </div>
          </div>

          <div class="row w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="columns-per-page">Columns Per Page: (optional)</label>
                <input type="number" name="columns-per-page" id="columns-per-page" class="form-control" />
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="column-width">Column Width: (optional)</label>
                <input type="number" name="column-width" id="column-width" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="page-width">Page Width: (optional)</label>
                <input type="number" name="page-width" id="page-width" class="form-control" />
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="page-height">Page Height: (optional)</label>
                <input type="number" name="page-height" id="page-height" class="form-control" />
              </div>
            </div>
          </div>

          <div class="row w-75 mx-auto mb-4">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="page-border">Page Border: (optional)</label>
                <select name="page-border" id="page-border" class="form-select">
                  <option>Select</option>
                  <option value="box">Box</option>
                  <option value="shadow">Shadow</option>
                </select>
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="gutter-size">Gutter Size: (optional)</label>
                <input class="form-control" type="number" name="gutter-size" id="gutter-size" class="form-control" />
              </div>
            </div>
          </div>

          <div class="item-select-container mb-4">
            <div class="available-pubs">
              Available Publications:<br />
              <select multiple="multiple" id="lstBox1" class="from-list form-select">
                {% for pub in publications %}
                <option value="{{ pub.id }}">{{ pub.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="transferBtns d-flex flex-column align-items-center mx-3">
              <button type="button" class="btn-all-right mb-2" id="btnAllRight">&gt;&gt;</button>
              <button type="button" class="btn-right mb-2" id="btnRight">&gt;</button>
              <button type="button" class="btn-left mb-2" id="btnLeft">&lt;</button>

              <button type="button" class="btn-all-left" id="btnAllLeft">&lt;&lt;</button>
            </div>

            <div class="selected-pubs">
              Selected Publications:<br />
              <select multiple="multiple" id="lstBox2" name="publications" class="to-list form-select"></select>
            </div>
          </div>

          <div class="btn-container text-center">
            <button id="submit-account-type" type="submit" class="btn btn-secondary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <script>
  function calculateProduct() {
    let inches = parseFloat(document.getElementById('inches').value) || 0;
    let height = parseFloat(document.getElementById('height').value) || 0;
    let result = inches * height;
    document.getElementById('result').textContent = result;
  }
</script> -->
