{% extends 'base.html' %}{% load static %} {% block content %}

<div class="heading-container text-center my-5">
  <h3 class="heading mb-3">Admin - Accounts</h3>
</div>

<div class="multi-step-form-container">
  <div id="tab-heading" class="tab-heading mb-5 d-flex justify-content-between align-items-center">
    <button class="step-arrow" id="prevTabBtn">
      <i class="fa fa-solid fa-chevron-left"></i>
    </button>

    <h3 class="multisteps-form__title text-center mb-0">Users</h3>

    <button class="step-arrow" id="nextTabBtn">
      <i class="fa fa-solid fa-chevron-right"></i>
    </button>
  </div>

  <ul class="nav nav-pills mb-5 d-flex justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom active" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="true">Users</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-account-types-tab" data-bs-toggle="pill" data-bs-target="#pills-account-types" type="button" role="tab" aria-controls="pills-account-types" aria-selected="false">Account Types</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-user-roles-tab" data-bs-toggle="pill" data-bs-target="#pills-user-roles" type="button" role="tab" aria-controls="pills-user-roles" aria-selected="false">User Roles</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active pt-5" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" data-heading="Users">{% include 'admin/includes/accounts/users.html'%}</div>

    <div class="tab-pane fade pt-5" id="pills-account-types" role="tabpanel" aria-labelledby="pills-account-types-tab" data-heading="Account Types">{% include 'admin/includes/accounts/accountTypes.html'%}</div>

    <div class="tab-pane fade pt-5" id="pills-user-roles" role="tabpanel" aria-labelledby="pills-user-roles-tab" data-heading="User Roles">{% include 'admin/includes/accounts/userRoles.html'%}</div>
  </div>
</div>

<!-- New Account Type Modal -->
<div class="modal fade" id="newAccountTypeModal" tabindex="-1" aria-labelledby="newAccountTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-bottom border-dark mb-3 text-center">
          <h3 class="mb-0">New Account Type</h3>
        </div>
        <form id="account-type-form" action="{% url 'adminAccounts' %}" method="POST">
          {% csrf_token %}

          <div class="form-group mb-3">
            <label for="account-type-name">Account Type Name:</label>
            <input type="text" id="account-type-name" name="name" class="form-control" />
          </div>

          <div class="form-group mb-3">
            <label for="account-code">Code:</label>
            <input type="text" id="account-code" name="code" class="form-control" />
          </div>

          <div class="form-group mb-3">
            <label for="account-status">Status:</label>
            <select name="status" id="status" class="form-select">
              <option value="">Select a status</option>
              {% for status in statuses %}
              <option value="{{status.id}}">{{status.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="btn-container d-flex justify-content-between">
            <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Discard</button>
            <button id="submit-account-type" type="submit" class="btn btn-secondary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- New user Role Modal -->
<div class="modal fade" id="newUserRoleModal" tabindex="-1" aria-labelledby="newUserRoleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="border-bottom border-dark mb-3 text-center">
          <h3 class="mb-0">New User Role</h3>
        </div>
        <form id="account-type-form" action="{% url 'adminAccounts' %}" method="POST">
          {% csrf_token %}

          <div class="row mb-3">
            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="user-role-name">Account Type Name:</label>
                <input type="text" id="user-role-name" name="name" class="form-control" />
              </div>
            </div>

            <div class="col-md-12 col-lg-6">
              <div class="form-group">
                <label for="user-role-code">Code:</label>
                <input type="text" id="user-role-code" name="code" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="user-role-status">Status:</label>
            <select name="status" id="user-role-status" class="form-select">
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
          </div>

          <div class="btn-container d-flex justify-content-between">
            <button type="button" class="btn btn-gray" data-bs-dismiss="modal">Discard</button>
            <button id="submit-account-type" type="submit" class="btn btn-secondary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/tableSearch.js' %}"></script>
<script src="{% static 'js/multistep.js' %}"></script>

<script>
  document.getElementById('submit-account-type').addEventListener('click', function () {
    document.getElementById('account-type-form').submit();
  });
</script>

{% endblock%}
