{% extends 'base.html' %}{% load static %} {% block content %}

<div class="heading-container text-center my-5">
  <h3 class="heading mb-3">Admin - Classifieds</h3>
</div>

<div class="multi-step-form-container">
  <div id="tab-heading" class="tab-heading mb-5 d-flex justify-content-between align-items-center">
    <button class="step-arrow" id="prevTabBtn">
      <i class="fa fa-solid fa-chevron-left"></i>
    </button>

    <h3 class="multisteps-form__title text-center mb-0">Categories</h3>

    <button class="step-arrow" id="nextTabBtn">
      <i class="fa fa-solid fa-chevron-right"></i>
    </button>
  </div>

  <ul class="nav nav-pills mb-5 d-flex justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom active" id="pills-categories-tab" data-bs-toggle="pill" data-bs-target="#pills-categories" type="button" role="tab" aria-controls="pills-categories" aria-selected="true">Categories</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-measurements-tab" data-bs-toggle="pill" data-bs-target="#pills-measurements" type="button" role="tab" aria-controls="pills-measurements" aria-selected="false">Measurements</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-styles-tab" data-bs-toggle="pill" data-bs-target="#pills-styles" type="button" role="tab" aria-controls="pills-styles" aria-selected="false">Styles</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-upsells-tab" data-bs-toggle="pill" data-bs-target="#pills-upsells" type="button" role="tab" aria-controls="pills-upsells" aria-selected="false">Upsells</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-custom-fields-tab" data-bs-toggle="pill" data-bs-target="#pills-custom-fields" type="button" role="tab" aria-controls="pills-custom-fields" aria-selected="false">Custom Fields</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-addons-tab" data-bs-toggle="pill" data-bs-target="#pills-addons" type="button" role="tab" aria-controls="pills-addons" aria-selected="false">Add Ons</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active pt-5" id="pills-categories" role="tabpanel" aria-labelledby="pills-categories-tab" data-heading="Categories">{% include 'admin/includes/classifieds/categories.html'%}</div>
    <div class="tab-pane fade pt-5" id="pills-measurements" role="tabpanel" aria-labelledby="pills-measurements-tab" data-heading="Measurements">{% include 'admin/includes/classifieds/measurements.html'%}</div>
    <div class="tab-pane fade pt-5" id="pills-styles" role="tabpanel" aria-labelledby="pills-styles-tab" data-heading="Styles">{% include 'admin/includes/classifieds/styles.html'%}</div>
    <div class="tab-pane fade pt-5" id="pills-upsells" role="tabpanel" aria-labelledby="pills-upsells-tab" data-heading="Upsells">{% include 'admin/includes/classifieds/upsells.html'%}</div>
    <div class="tab-pane fade pt-5" id="pills-custom-fields" role="tabpanel" aria-labelledby="pills-custom-fields-tab" data-heading="Custom Fields">{% include 'admin/includes/classifieds/customFields.html'%}</div>
    <div class="tab-pane fade pt-5" id="pills-addons" role="tabpanel" aria-labelledby="pills-addons-tab" data-heading="Add Ons">{% include 'admin/includes/classifieds/addons.html'%}</div>
  </div>
</div>

<!-- New Category Modal -->
{% include 'admin/includes/classifieds/modals/newCategory.html'%}

<!-- Edit Category Modal -->
{% include 'admin/includes/classifieds/modals/editCategory.html'%}

<!-- New Measurement Modal -->
{% include 'admin/includes/classifieds/modals/newMeasurement.html'%}

<!-- New Upsell Modal -->
{% include 'admin/includes/classifieds/modals/newUpsell.html'%}

<!-- Edit Upsell Modal -->

<!-- New Custom Field Modal -->
{% include 'admin/includes/classifieds/modals/newCustomField.html'%}

<!-- Edit Custom Field Modal -->
{% include 'admin/includes/classifieds/modals/editCustomField.html'%}

<!-- New Add On Modal -->
{% include 'admin/includes/classifieds/modals/newAddon.html'%}

<!-- Edit Add On Modal -->
{% include 'admin/includes/classifieds/modals/editAddon.html'%}
<script src="{% static 'js/multistep.js' %}"></script>

<script>
  // 🔑 Before submitting, force all options in lstBox2 to be selected
  document.getElementById('classified-category-form').onsubmit = function () {
    var selected = document.getElementById('lstBox2');
    for (var i = 0; i < selected.options.length; i++) {
      selected.options[i].selected = true;
    }
  };
</script>
{% endblock%}
