{% extends 'base.html' %}{% load static %} {% block content %}

<div class="heading-container text-center my-5">
  <h3 class="heading mb-3">Admin - General</h3>
</div>

<div class="multi-step-form-container">
  <div id="tab-heading" class="tab-heading mb-5 d-flex justify-content-between align-items-center">
    <button class="step-arrow" id="prevTabBtn">
      <i class="fa fa-solid fa-chevron-left"></i>
    </button>

    <h3 class="multisteps-form__title text-center mb-0">Overview</h3>

    <button class="step-arrow" id="nextTabBtn">
      <i class="fa fa-solid fa-chevron-right"></i>
    </button>
  </div>

  <ul class="nav nav-pills mb-5 d-flex justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom active" id="pills-general-overview-tab" data-bs-toggle="pill" data-bs-target="#pills-general-overview" type="button" role="tab" aria-controls="pills-general-overview" aria-selected="true">General Overview</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-pubs-tab" data-bs-toggle="pill" data-bs-target="#pills-pubs" type="button" role="tab" aria-controls="pills-pubs" aria-selected="false">Pubs</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-cc-vendor-tab" data-bs-toggle="pill" data-bs-target="#pills-cc-vendor" type="button" role="tab" aria-controls="pills-cc-vendor" aria-selected="false">Credit Card Vendor</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-regions-tab" data-bs-toggle="pill" data-bs-target="#pills-regions" type="button" role="tab" aria-controls="pills-regions" aria-selected="false">Regions</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link-custom" id="pills-products-tab" data-bs-toggle="pill" data-bs-target="#pills-products" type="button" role="tab" aria-controls="pills-products" aria-selected="false">Products</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active pt-5" id="pills-general-overview" role="tabpanel" aria-labelledby="pills-general-overview-tab" data-heading="General Overview">{% include 'admin/includes/general/generalOverview.html'%}</div>

    <div class="tab-pane fade pt-5" id="pills-pubs" role="tabpanel" aria-labelledby="pills-pubs-tab" data-heading="Pubs">{% include 'admin/includes/general/pubs.html'%}</div>

    <div class="tab-pane fade pt-5" id="pills-cc-vendor" role="tabpanel" aria-labelledby="pills-cc-vendor-tab" data-heading="Credit Card Vendor">{% include 'admin/includes/general/cc-vendor.html'%}</div>

    <div class="tab-pane fade pt-5" id="pills-regions" role="tabpanel" aria-labelledby="pills-regions-tab" data-heading="Regions">{% include 'admin/includes/general/regions.html'%}</div>

    <div class="tab-pane fade pt-5" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab" data-heading="Products">{% include 'admin/includes/general/products.html'%}</div>
  </div>
</div>

<!-- <div class="modal fade" id="editAdminInfoModal" tabindex="-1" aria-labelledby="editAdminInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAdminInfoModalLabel">Edit Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body w-75 mx-auto">
        <div class="row mb-3">
          <div class="col-md-12 col-lg-6">
            <div class="form-group mb-4">
              <label for="nameInput">Name:</label>
              <input type="text" name="name" id="nameInput" class="form-control" />
              <small id="nameError" class="text-danger"></small>
            </div>
          </div>

          <div class="col-md-12 col-lg-6">
            <div class="form-group mb-4">
              <label for="countryInput">Country:</label>
              <select name="country" id="countryInput" class="form-control">
                <option value="">Select a Country</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="streetAddressInput">Street Address:</label>
          <input type="text" name="street_address" id="streetAddressInput" class="form-control" />
          <small id="streetAddressError" class="text-danger"></small>
        </div>

        <div class="form-group mb-4">
          <label for="unitInput">Unit, Suite, etc.:</label>
          <input type="text" name="unit" id="unitInput" class="form-control" />
        </div>

        <div class="row mb-3">
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="cityInput">City:</label>
              <input type="text" name="city" id="cityInput" class="form-control" />
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="stateInput">State:</label>
              <select name="state" id="stateInput" class="form-control">
                <option value="">Select a State</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="zipCodeInput">Zip Code:</label>
              <input type="text" name="zip_code" id="zipCodeInput" class="form-control" />
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="form-group">
              <label for="countryInput">Country:</label>
              <select name="country" id="countryInput" class="form-control">
                <option value="">Select a State</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="companyGLInput">Company GL:</label>
          <select name="companyGL" id="companyGLInput" class="form-control">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group mb-5">
          <label for="profileImageUpload">Upload New Profile Picture:</label>
          <input type="file" class="form-control" id="profileImageUpload" />
        </div>

        <div class="btn-container d-flex justify-content-center w-75 mx-auto">
          <button type="button" class="btn btn-gray me-lg-3" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- New Region Modal -->
{% include 'admin/includes/general/modals/newRegion.html'%}

<!-- Edit Region Modal -->
{% include 'admin/includes/general/modals/editRegion.html'%}

<script src="{% static 'js/multistep.js' %}"></script>
{% endblock%}
