<div class="text-center mb-5">
  <p>
    Click on an option below to create a<br />
    new Media Channel.
  </p>
</div>

<div class="product-boxes w-75 mx-auto mb-5">
  <div class="row">
    <div class="col-md-3 d-flex justify-content-center">
      <a href="" target="_blank" class="product-box">
        <i class="fa fa-solid fa-book-open"></i>
        <span>New Magazine</span>
      </a>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <a href="" target="_blank" class="product-box">
        <i class="fa fa-solid fa-newspaper"></i>
        <span>New Newspaper</span>
      </a>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <a href="" target="_blank" class="product-box">
        <i class="fa fa-solid fa-laptop"></i>
        <span>New Digital Product</span>
      </a>
    </div>
    <div class="col-md-3 d-flex justify-content-center">
      <button class="product-box" disabled>
        <i class="fa fa-solid fa-pencil"></i>
        <span>New Custom Product</span>
        <small class=""><strong>Coming soon, contact us for special requests</strong></small>
      </button>
    </div>
  </div>
</div>

<div class="actions-container d-flex justify-content-between mb-3">
  <div class="filters ps-3 d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
  <div class="has-search">
    <input type="text" class="form-control" placeholder="Search" />
  </div>
</div>

<div class="table-container mb-5">
  <table id="productsTable" class="table display">
    <thead>
      <tr>
        <th>Name</th>
        <th>Product Type</th>
        <th>Fold Orientation</th>
        <th>Media Channel</th>
        <th>Dimensions</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in page_obj %}
      <tr>
        <td>{{product.name}}</td>
        <td><span class="text-capitalize">{{product.product_type}}</span></td>
        <td><span class="text-capitalize">{{product.fold_orientation}}</span></td>
        <td>-</td>
        <td>-</td>
        <td><td>
          <a href="">
            <i class="fa fa-solid fa-pen me-3 color-secondary"></i>
          </a>
        </td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
