<div class="modal fade" id="newPubProductModal" tabindex="-1" aria-labelledby="newPubProductModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content stepform">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="steps-container d-none d-md-flex justify-content-md-center mb-5">
          <div class="step active">
            <div class="text">
              <span class="number">1</span>
              <span class="title">Product Setup</span>
            </div>
            <div class="arrow">
              <i class="fa fa-solid fa-arrow-right"></i>
            </div>
          </div>
          <div class="step">
            <div class="text">
              <span class="number">2</span>
              <span class="title">Settings</span>
            </div>
            <div class="arrow">
              <i class="fa fa-solid fa-arrow-right"></i>
            </div>
          </div>
          <div class="step">
            <div class="text">
              <span class="number">3</span>
              <span class="title">Deadlines</span>
            </div>
          </div>
        </div>

        <form id="pub-product-form" action="">
          <div class="tab">
            <div class="tab-description text-center mb-5">
              <p>Setup the product(s) and its schedule for<br />the publication</p>
            </div>

            <ul class="nav nav-pills mb-3 d-flex align-items-center justify-content-center" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link-custom active" id="pills-repeat-tab" data-bs-toggle="pill" data-bs-target="#pills-repeat" type="button" role="tab" aria-controls="pills-repeat" aria-selected="true">Repeat</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link-custom" id="pills-non-repeating-tab" data-bs-toggle="pill" data-bs-target="#pills-non-repeating" type="button" role="tab" aria-controls="pills-non-repeating" aria-selected="false">Non Repeating</button>
              </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-repeat" role="tabpanel" aria-labelledby="pills-repeat-tab">
                <div class="row">
                  <div class="col-md-12 col-lg-6">
                    <div class="form-group mb-3">
                      <label for="product-name">Product Name:</label>
                      <input type="text" name="product-name" id="product-name" class="form-control" />
                    </div>

                    <div class="form-group mb-3">
                      <label for="product-media-channel">Media Channel:</label>
                      <select name="product-media-channel" id="product-media-channel" class="form-select">
                        <option value="">Select</option>
                      </select>
                    </div>

                    <div class="form-group mb-3">
                      <label for="product-gl-location">GL Location</label>
                      <input type="text" id="product-gl-location" class="form-control" />
                    </div>

                    <div class="form-group">
                      <label for="product-start-date">Start Date:</label>
                      <input type="date" name="product-start-date" id="product-start-date" class="form-control" />
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-6">
                    <div class="form-group text-left mb-4">
                      <label class="form-label d-block mb-2">Select your schedule for publishing:</label>
                      <div class="schedule-options">
                        <div class="schedule-option">
                          <input type="checkbox" id="schedule-daily" name="schedule[]" value="Daily" />
                          <label for="schedule-daily" class="schedule-label">Daily</label>
                        </div>

                        <div class="schedule-option">
                          <input type="checkbox" id="schedule-weekly" name="schedule[]" value="Weekly" />
                          <label for="schedule-weekly" class="schedule-label">Weekly</label>
                        </div>

                        <div class="schedule-option">
                          <input type="checkbox" id="schedule-monthly" name="schedule[]" value="Monthly" />
                          <label for="schedule-monthly" class="schedule-label">Monthly</label>
                        </div>

                        <div class="schedule-option">
                          <input type="checkbox" id="schedule-yearly" name="schedule[]" value="Yearly" />
                          <label for="schedule-yearly" class="schedule-label">Yearly</label>
                        </div>
                      </div>
                    </div>

                    <!-- Days of the Week -->
                    <div class="form-group text-left mb-4">
                      <label class="form-label d-block mb-2">Select days of the week for publishing:</label>
                      <div class="schedule-options">
                        <div class="schedule-option">
                          <input type="checkbox" id="sunday" name="days[]" value="Sunday" />
                          <label for="sunday" class="schedule-label">Sun</label>
                        </div>
                        <div class="schedule-option">
                          <input type="checkbox" id="monday" name="days[]" value="Monday" />
                          <label for="monday" class="schedule-label">Mon</label>
                        </div>
                        <div class="schedule-option">
                          <input type="checkbox" id="tuesday" name="days[]" value="Tuesday" />
                          <label for="tuesday" class="schedule-label">Tues</label>
                        </div>
                        <div class="schedule-option">
                          <input type="checkbox" id="wednesday" name="days[]" value="Wednesday" />
                          <label for="wednesday" class="schedule-label">Wed</label>
                        </div>
                        <div class="schedule-option">
                          <input type="checkbox" id="thursday" name="days[]" value="Thursday" />
                          <label for="thursday" class="schedule-label">Thurs</label>
                        </div>
                        <div class="schedule-option">
                          <input type="checkbox" id="friday" name="days[]" value="Friday" />
                          <label for="friday" class="schedule-label">Fri</label>
                        </div>
                        <div class="schedule-option">
                          <input type="checkbox" id="saturday" name="days[]" value="Saturday" />
                          <label for="saturday" class="schedule-label">Sat</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-4">
                      <label for="publication-frequency" class="form-label">Repeat Frequency:</label>
                      <div class="d-flex align-items-center gap-2">
                        <span>Repeat every</span>
                        <input type="number" name="publication-frequency" id="publication-frequency" class="form-control w-25 text-center" value="1" min="1" />
                        <span>week(s)</span>
                      </div>
                    </div>

                    <div class="form-group mb-3">
                      <label class="form-label">Manage Days:</label>
                      <input type="text" id="publishing-calendar" class="form-control" placeholder="Select schedule..." readonly />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Non Repeating -->

              <div class="tab-pane fade" id="pills-non-repeating" role="tabpanel" aria-labelledby="pills-non-repeating-tab">Non Repeating</div>
            </div>

            <div class="btn-container d-flex justify-content-end mt-5">
              <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
            </div>
          </div>

          <div class="tab">
            <div class="tab-description text-center mb-5">
              <p>
                On this step, go through the list and assign the Rate<br />Groups, Ad Types/Criteria, Sections, and Adjustments to be<br />
                associated with the publication
              </p>
            </div>

            <div class="border border-dark rounded d-flex">
              <!-- Lists -->
              <div class="assignment-list w-25 border-dark border-end shadow">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="btn-light text-start border-0 p-2 active" id="v-pills-rate-groups-tab" data-bs-toggle="pill" data-bs-target="#v-pills-rate-groups" type="button" role="tab" aria-controls="v-pills-rate-groups" aria-selected="true">Rate Groups</button>
                  <button class="btn-light text-start border-0 p-2" id="v-pills-ad-criteria-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ad-criteria" type="button" role="tab" aria-controls="v-pills-ad-criteria" aria-selected="false">Ad Criteria</button>
                  <button class="btn-light text-start border-0 p-2" id="v-pills-ad-types-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ad-types" type="button" role="tab" aria-controls="v-pills-ad-types" aria-selected="false">Ad Types</button>
                  <button class="btn-light text-start border-0 p-2" id="v-pills-adjustments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-adjustments" type="button" role="tab" aria-controls="v-pills-adjustments" aria-selected="false">Adjustments</button>
                  <button class="btn-light text-start border-0 p-2" id="v-pills-sections-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sections" type="button" role="tab" aria-controls="v-pills-sections" aria-selected="false">Sections</button>
                </div>
              </div>

              <!-- Selects -->
              <div class="select-container w-75 p-2">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-rate-groups" role="tabpanel" aria-labelledby="v-pills-rate-groups-tab">
                    <div class="item-select-container mb-4">
                      <div class="available-pubs">
                        Available Rate Groups:<br />
                        <select multiple="multiple" id="lstBox1" class="form-select">
                          {% for rateGroup in rateGroups %}
                          <option value="{{ rateGroup.id }}">{{ rateGroup.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="transferBtns d-flex flex-column align-items-center mx-3">
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnAllRight">&gt;&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnRight">&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnLeft">&lt;</button>

                        <button type="button" class="btn btn-sm btn-secondary" id="btnAllLeft">&lt;&lt;</button>
                      </div>

                      <div class="selected-pubs">
                        Selected Rate Groups:<br />
                        <select multiple="multiple" id="lstBox2" name="rateGroups" class="form-select"></select>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="v-pills-ad-criteria" role="tabpanel" aria-labelledby="v-pills-ad-criteria-tab">
                    <div class="item-select-container mb-4">
                      <div class="available-pubs">
                        Available Ad Criterias:<br />
                        <select multiple="multiple" id="lstBox1" class="form-select">
                          {% for adCriteria in adCriterias %}
                          <option value="{{ adCriteria.id }}">{{ adCriteria.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="transferBtns d-flex flex-column align-items-center mx-3">
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnAllRight">&gt;&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnRight">&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnLeft">&lt;</button>

                        <button type="button" class="btn btn-sm btn-secondary" id="btnAllLeft">&lt;&lt;</button>
                      </div>

                      <div class="selected-pubs">
                        Selected Ad Criterias:<br />
                        <select multiple="multiple" id="lstBox2" name="adCriterias" class="form-select"></select>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="v-pills-ad-types" role="tabpanel" aria-labelledby="v-pills-ad-types-tab">
                    <div class="item-select-container mb-4">
                      <div class="available-pubs">
                        Available Ad Types:<br />
                        <select multiple="multiple" id="lstBox1" class="form-select">
                          {% for adType in adTypes %}
                          <option value="{{ adType.id }}">{{ adType.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="transferBtns d-flex flex-column align-items-center mx-3">
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnAllRight">&gt;&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnRight">&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnLeft">&lt;</button>

                        <button type="button" class="btn btn-sm btn-secondary" id="btnAllLeft">&lt;&lt;</button>
                      </div>

                      <div class="selected-pubs">
                        Selected Ad Types:<br />
                        <select multiple="multiple" id="lstBox2" name="adTypes" class="form-select"></select>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="v-pills-adjustments" role="tabpanel" aria-labelledby="v-pills-adjustments-tab">
                    <div class="item-select-container mb-4">
                      <div class="available-pubs">
                        Available Adjustments:<br />
                        <select multiple="multiple" id="lstBox1" class="form-select">
                          {% for adjustment in adjustments %}
                          <option value="{{ adjustment.id }}">{{ adjustment.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="transferBtns d-flex flex-column align-items-center mx-3">
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnAllRight">&gt;&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnRight">&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnLeft">&lt;</button>

                        <button type="button" class="btn btn-sm btn-secondary" id="btnAllLeft">&lt;&lt;</button>
                      </div>

                      <div class="selected-pubs">
                        Selected Adjustments:<br />
                        <select multiple="multiple" id="lstBox2" name="adjustments" class="form-select"></select>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="v-pills-sections" role="tabpanel" aria-labelledby="v-pills-sections-tab">
                    <div class="item-select-container mb-4">
                      <div class="available-pubs">
                        Available Sections:<br />
                        <select multiple="multiple" id="lstBox1" class="form-select">
                          {% for section in sections %}
                          <option value="{{ section.id }}">{{ section.name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="transferBtns d-flex flex-column align-items-center mx-3">
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnAllRight">&gt;&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnRight">&gt;</button>
                        <button type="button" class="btn btn-sm btn-secondary mb-2" id="btnLeft">&lt;</button>

                        <button type="button" class="btn btn-sm btn-secondary" id="btnAllLeft">&lt;&lt;</button>
                      </div>

                      <div class="selected-pubs">
                        Selected Sections:<br />
                        <select multiple="multiple" id="lstBox2" name="sections" class="form-select"></select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="btn-container d-flex justify-content-between mt-5">
              <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

              <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
            </div>
          </div>

          <div class="tab">
            <div class="tab-description text-center mb-5">
              <p>Set the deadlines for each publish day for<br />your publication</p>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3 d-flex align-items-center justify-content-center" id="dayTabs" role="tablist"></ul>

            <!-- Tab content -->
            <div class="tab-content" id="dayTabContent"></div>

            <div class="btn-container d-flex justify-content-between mt-5">
              <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

              <button id="create-pub-product-btn" data-step="final" class="btn btn-secondary step-next" type="button">Create <i class="fa fa-solid fa-arrow-right"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
