<div class="save-container d-flex justify-content-end">
  <button class="btn btn-secondary-light">Save Changes</button>
</div>

<div class="edit-info-container">
  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editAdminInfoModal"><i class="fa fa-solid fa-pencil"></i> Edit Info</button>
  <hr />
</div>

<div class="row">
  <div class="col-md-3">
    <div class="img-placeholder"></div>
  </div>
  <div class="col-md-9">
    <h3 class="title">Publication Name <span class="flag"></span></h3>
    <p class="address">
      address 1, address 2<br />
      city, state zip
    </p>
  </div>
</div>
