{% load static %}

<div id="sidebar">
  <div class="logo-container">
    <div class="logo-sm"><img src="{% static 'img/summaware-icon-500.png' %}" alt="Summaware Logo" class="img-fluid" /></div>

    <div class="logo-lg"><img src="{% static 'img/summaware-500.png' %}" alt="Summaware Logo" class="img-fluid" /></div>
  </div>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#"><i class="fas fa-home"></i> <span class="link-text">Home</span></a>
    </li>
  </ul>

  <!-- Add more links here -->
</div>
