{% extends 'base.html' %}{% load static %} {% block content %}

<div class="heading-container text-center my-5">
  <h3 class="heading mb-3">New Publication Setup</h3>
</div>

<div class="stepform">
  <div class="steps-container d-none d-md-flex justify-content-md-center mb-5">
    <div class="step active">
      <div class="text">
        <span class="number">1</span>
        <span class="title">General Info</span>
      </div>
      <div class="arrow">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="step">
      <div class="text">
        <span class="number">2</span>
        <span class="title">Product Setup</span>
      </div>
      <div class="arrow">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="step">
      <div class="text">
        <span class="number">3</span>
        <span class="title">Settings</span>
      </div>
      <div class="arrow">
        <i class="fa fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="step">
      <div class="text">
        <span class="number">4</span>
        <span class="title">Deadlines</span>
      </div>
    </div>
  </div>

  <!-- End Steps -->

  <div class="tab">
    <div class="tab-description text-center mb-5">
      <p>Fill out the information below to begin!</p>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-6">
        <form method="post" id="add-publication-info-form">
          <div class="form-group mgb-3 center-block text-left">
            <label for=""><span class="asterisk">*</span> Publication Name:</label>
            <input type="text" name="name" id="name" class="form-control" />
          </div>

          <div class="form-group mgb-3 center-block text-left">
            <label for="">Address Line 1:</label>
            <input type="text" name="address" id="" class="form-control" />
            <a href="#">Add another address line</a>
          </div>

          <div class="row mgb-3 center-block">
            <div class="col-md-12 col-lg-6 pl-0">
              <div class="form-group text-left">
                <label for="city">City:</label>
                <input type="text" name="city" id="city" class="form-control" />
              </div>
            </div>
            <div class="col-md-12 col-lg-6 pr-0">
              <div class="form-group text-left">
                <label for="state">State:</label>
                <select name="state" id="state" class="form-control">
                  {% for state in all_states %}
                  <option value="{{state.id}}">{{state.name}} - {{state.abbreviation}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="row mgb-3 center-block">
            <div class="col-md-12 col-lg-6 pl-0">
              <div class="form-group mgb-3 text-left">
                <label for="city">Zip Code:</label>
                <input type="text" name="zip_code" id="zip-code" class="form-control" />
              </div>
            </div>
            <div class="col-md-12 col-lg-6 ml-4">
              <div class="form-group text-left">
                <label for="country">Country:</label>
                <select name="country" id="country" class="form-control">
                  <option value="">Select Country</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group text-left">
            <label for="parent_id">Parent Publication (optional):</label>
            <select name="parent_id" id="parent_id" class="form-control">
              {% for publication in publications %}
              <option value="{{publication.id}}">{{publication.name}}</option>
              {% endfor %}
            </select>
          </div>

          <!-- <div class="btn-container content-even">
        <button class="btn btn-secondary">Save Changes</button>
      </div> -->
        </form>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="gl-code-builder">
          <span class="d-block">Available Codes:</span>
          <div id="div1" class="available-codes mb-5" ondrop="dropCode(event)" ondragover="allowDrop(event)">
            <button class="btn-custom btn-secondary-light mgb-1" draggable="true" ondragstart="drag(event)" id="location">Location</button>

            <button class="btn-custom btn-secondary-light mgb-1" draggable="true" ondragstart="drag(event)" id="departments">Departments</button>

            <button class="btn-custom btn-secondary-light mgb-1" draggable="true" ondragstart="drag(event)" id="profit">Profit</button>

            <button class="btn-custom btn-secondary-light" draggable="true" ondragstart="drag(event)" id="company">Company</button>
          </div>

          <span class="d-block mb-2">Selected Codes:</span>
          <div id="div2" class="selected-codes mb-5" ondrop="dropCode(event)" ondragover="allowDrop(event)">
            <button class="btn-custom btn-secondary-light" ondragstart="drag(event)" draggable="true" id="GL">GL</button>
          </div>

          <div class="selected-fields-container">
            <div class="text-container text-center mb-5">
              <p>
                Select how many characters you want for each<br />
                selected code!
              </p>
            </div>

            <div class="active-fields">
              <div class="form-group">
                <div id="inputContainer" class="row d-flex justify-content-even">
                  <div class="mb-3">
                    <label for="GL">GL</label>

                    <input type="text" name="GL-text" id="GL-text" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container d-flex justify-content-end">
      <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
    </div>
  </div>

  <!-- Product Setup -->
  <div class="tab">
    <div class="tab-description text-center mb-5">
      <p>Setup the product(s) and its schedule for<br />the publication</p>
    </div>

    <ul class="nav nav-pills mb-3 d-flex align-items-center justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link-custom active" id="pills-repeat-tab" data-bs-toggle="pill" data-bs-target="#pills-repeat" type="button" role="tab" aria-controls="pills-repeat" aria-selected="true">Repeat</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link-custom" id="pills-non-repeating-tab" data-bs-toggle="pill" data-bs-target="#pills-non-repeating" type="button" role="tab" aria-controls="pills-non-repeating" aria-selected="false">Non Repeating</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-repeat" role="tabpanel" aria-labelledby="pills-repeat-tab">...</div>

      <div class="tab-pane fade" id="pills-non-repeating" role="tabpanel" aria-labelledby="pills-non-repeating-tab">
        <div class="btn-container mb-3">
          <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newPubProductModal"><i class="fa fa-solid fa-plus"></i> Add a Pub Product</button>
        </div>

        <div class="table-container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID #</th>
                <th scope="col">Product Name</th>
                <th scope="col">Media Channel</th>
                <th scope="col">Start Date</th>
                <th scope="col">GL Code</th>
                <th scope="col">Gl Location</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0001</td>
                <td>Spring Season Mag - Print Edition</td>
                <td>Mini Mag</td>
                <td>08/25/25</td>
                <td>Default</td>
                <td>2928</td>
                <td>Active</td>
                <td>
                  <a class="mr-1" href=""><i class="fa fa-solid fa-pencil"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="btn-container d-flex justify-content-between mt-5">
      <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

      <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
    </div>
  </div>

  <!-- Settings -->
  <div class="tab">
    <div class="btn-container d-flex justify-content-between mt-5">
      <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

      <button class="btn btn-secondary step-next" type="button">Next <i class="fa fa-solid fa-arrow-right"></i></button>
    </div>
  </div>

  <!-- Deadlines -->
  <div class="tab">
    <div class="btn-container d-flex justify-content-between">
      <button class="btn btn-secondary step-prev" type="button"><i class="fa fa-solid fa-arrow-left"></i> Previous</button>

      <button id="create-publication-btn" data-step="final" class="btn btn-secondary step-next" type="button">Create <i class="fa fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
</div>

<!-- New Publication Product -->
{% include 'admin/pubs/modals/newPubProduct.html'%}

<script src="{% static 'js/stepform/stepform.js' %}"></script>

<script>
  // Function to allow dropping of elements
  function allowDrop(event) {
    event.preventDefault(); // Necessary to allow drop events
  }

  // Function to handle dragging
  function drag(event) {
    event.dataTransfer.setData('text', event.target.id); // Get the id of the dragged element
  }

  // Function to handle dropping the element and manage input fields visibility
  function dropCode(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData('text');
    var draggedElement = document.getElementById(data);
    var dropZone = ev.target.closest('#div1, #div2') || ev.target;

    if (dropZone.id === 'div2') {
      dropZone.appendChild(draggedElement);
      const inputId = `${draggedElement.id}-text`;
      const existingInput = document.getElementById(inputId);
      if (!existingInput) {
        const div = document.createElement('div');
        div.className = 'mb-3';

        const label = document.createElement('label');
        label.htmlFor = draggedElement.id;
        label.textContent = draggedElement.id;

        const input = document.createElement('input');
        input.type = 'text';
        input.name = inputId;
        input.id = inputId;
        input.className = 'form-control';

        div.appendChild(label);
        div.appendChild(input);
        document.getElementById('inputContainer').appendChild(div);
      }
    } else if (dropZone.id === 'div1') {
      dropZone.appendChild(draggedElement);
      const inputId = `${draggedElement.id}-text`;
      const inputField = document.getElementById(inputId);
      if (inputField && inputField.parentElement) {
        inputField.parentElement.remove();
      }
    }
  }
</script>
{% endblock%}
