<div class="btn-search-container d-flex justify-content-between border-bottom border-dark">
  <div class="filter-container">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newAdjustmentModal"><i class="fa fa-solid fa-plus"></i> New Adjustment</button>
    <div class="filters ps-3 d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
  </div>

  <div class="has-search">
    <input type="text" class="form-control" placeholder="Search Adjustments..." />
  </div>
</div>

<div class="table-container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Value</th>
        <th scope="col">Credit/Debit</th>
        <th scope="col">Apply Level</th>
        <th scope="col">Section</th>
        <th scope="col">Pubs</th>
        <th scope="col">GL Codes</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for adjustment in adjustments_page_obj %}
      <tr>
        <td>{{adjustment.id}}</td>
        <td>{{adjustment.name}}</td>
        <td>{{adjustment.code}}</td>
        <td>${{adjustment.value}}</td>
        <td><span class="text-capitalize">{{adjustment.type}}</span></td>
        <td><span class="text-capitalize">{{adjustment.apply_level}}</span></td>
        <td>All</td>
        <td>
          <div class="tooltip-wrapper">
            <span class="see-assigned text-decoration-underline">See assigned</span>
            <div class="custom-tooltip">
              {% for pub in adjustment.publications.all %}
              <div>{{ pub.name }}</div>
              {% empty %}
              <div>No Publications assigned</div>
              {% endfor %}
            </div>
          </div>
        </td>
        <td>
          <div class="tooltip-wrapper">
            <span class="see-assigned text-decoration-underline">See List</span>
            <div class="custom-tooltip">
              {% for gl in adjustment.glCodes.all %}
              <div>{{ gl.code }}</div>
              {% empty %}
              <div>No GL Codes assigned</div>
              {% endfor %}
            </div>
          </div>
        </td>
        <td>Active</td>
        <td><i class="fa fa-solid fa-pen"></i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination">
  {% if adjustments_page_obj.has_previous %}
  <a href="?page={{ adjustments_page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span>Page {{ adjustments_page_obj.number }} of {{ adjustments_page_obj.paginator.num_pages }}</span>

  {% if adjustments_page_obj.has_next %}
  <a href="?page={{ adjustments_page_obj.next_page_number }}">Next</a>
  {% endif %}
</div>
