<div class="text-center mb-5">
  <p>Select a rate group below to edit its general<br />info and manage its assigned rates</p>
</div>

<div class="btn-search-container d-flex justify-content-between border-bottom border-dark">
  <div class="filter-container">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newRateGroupModal"><i class="fa fa-solid fa-plus"></i> New Rate Group</button>
    <div class="filters ps-3 d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
  </div>

  <div class="has-search">
    <input type="text" class="form-control" placeholder="Search Rates..." />
  </div>
</div>

<div class="table-container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Group Name</th>
        <th scope="col">Description</th>
        <th scope="col">Publications</th>
        <th scope="col">Status</th>
        <th scope="col">Created By</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for rateGroup in rateGroups_page_obj %}
      <tr>
        <td>{{rateGroup.id}}</td>
        <td><a href="{% url 'singleRateGroup' rateGroup.id %}">{{rateGroup.name}}</a></td>
        <td>{{rateGroup.description}}</td>
        <td>
          <div class="tooltip-wrapper">
            <span class="see-assigned text-decoration-underline">See assigned</span>
            <div class="custom-tooltip">
              {% for pub in rateGroup.publications.all %}
              <div>{{ pub.name }}</div>
              {% empty %}
              <div>No Publications assigned</div>
              {% endfor %}
            </div>
          </div>
        </td>
        <td><span class="text-capitalize">{{rateGroup.status}}</span></td>
        <td>{% if rateGroup.created_by %} <span class="text-capitalize">{{ rateGroup.created_by.get_full_name|default:rateGroup.created_by.username }}</span> {% else %} - {% endif %}</td>
        <td><i class="fa fa-solid fa-pen"></i></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
