.admin-landing-container {
  .admin-blocks {
    .top {
      margin-bottom: 20px;
    }

    .bottom {
      display: flex;
      justify-content: space-around;
    }
    .admin-block-link {
      text-decoration: none;
    }
    .admin-block {
      position: relative;
      background-color: $white;
      height: 150px;
      border-radius: 10px;
      box-shadow: $shadow;
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        position: relative;
        z-index: 2;
        font-size: 22px;
        font-weight: 700;
        color: $black;
        line-height: 26.4px;
      }

      &.accounts {
        &::before {
          content: '';
          background-image: url('../images/icon-accounts.jpg');
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      &.ads {
        &::before {
          content: '';
          background-image: url('../images/icon-ads.jpg');
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      &.financial {
        &::before {
          content: '';
          background-image: url('../images/icon-financial.jpg');
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      &.general {
        &::before {
          content: '';
          background-image: url('../images/icon-general.jpg');
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      &.pricing {
        &::before {
          content: '';
          background-image: url('../images/icon-pricing.jpg');
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .company-info-container {
    .img-placeholder {
      width: 200px;
      height: 200px;
      border: 1px solid $gray-3;
      background-color: #d9d9d9;
      border-radius: 4px;
      box-shadow: $shadow;
    }
  }
}

.new-ad-type-container {
  border-radius: 4px;
  border: 1px solid $black;
  padding: 20px;
}
